<template>
  <div class="row" style="margin: 0px ">
    <div class="col-md-6" style="padding: 0px !important" v-for="(item, index) in chartData.data" :key="index">
      <div class="card-box" style="padding: 0px !important; margin: 0px">
        <canvas :id="item.id" height="100"></canvas>
      </div>
    </div>
  </div>
</template>

<script>
import Form from "../../global/Form";
export default {
  name: "Dashboard",
  viewName: "Graph View",
  icon: "ti-bar-chart",
  bg: "bg-custom",
  data() {
    return {
      chartData: new Form({
        data: []
      }),
      chart_data: this.$root.myData.kpis
    };
  },
  beforeMount() {
    var vm = this;
    vm.$root.startLoading();
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData: function() {
      var vm = this;
      vm.chartData.get('dashboard/data').then(function() {
        vm.drawChart(vm.chartData.data);
        vm.$root.stopLoading();
      });
    },
    drawChart: function(data) {
      var bar = [];
      var bar_stacked = [];
      var line = [];
      var pie = [];
      var combo = [];
      var radar = [];
      for (let i = 0; i < data.length; i++) {
        if (data[i].chart.type == "bar") {
          bar.push(data[i]);
        }
        if (data[i].chart.type == "bar-stacked") {
          bar_stacked.push(data[i]);
        }
        if (data[i].chart.type == "line") {
          line.push(data[i]);
        }
        if (data[i].chart.type == "pie") {
          pie.push(data[i]);
        }
        if (data[i].chart.type == "combo") {
          combo.push(data[i]);
        }
        if (data[i].chart.type == "radar") {
          radar.push(data[i]);
        }
      }
      $.each(bar, function(index, val) {
        let bar_data = {
          labels: val.chart.label,
          datasets: val.chart.objects
        };
        let bar_e = $("#" + val.id);
        let bar_chart = new Chart(bar_e, {
          type: "bar",
          data: bar_data,
          options: {
            legend: {
              position: 'bottom',
              labels: {
                usePointStyle: true,
                fontSize: 10
              }
            },
            title: {
              display: true,
              text: val.name
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      });
      $.each(bar_stacked, function(index, val) {
        let bar_data = {
          labels: val.chart.label,
          datasets: val.chart.objects
        };
        let bar_e = $("#" + val.id);
        let bar_chart = new Chart(bar_e, {
          type: "bar",
          data: bar_data,
          options: {
            legend: {
              position: 'bottom',
              labels: {
                usePointStyle: true,
                fontSize: 10
              }
            },
            title: {
              display: true,
              text: val.name
            },
            scales: {
              xAxes: [{
                stacked: true
              }],
              yAxes: [{
                ticks: {
                  beginAtZero: true
                },
                stacked: true
              }]
            }
          }
        });
      });
      $.each(line, function(index, val) {
        let line_data = {
          labels: val.chart.label,
          datasets: val.chart.objects
        };
        let line_e = $("#" + val.id);
        let line_chart = new Chart(line_e, {
          type: "line",
          data: line_data,
          options: {
            legend: {
              position: 'bottom',
              labels: {
                usePointStyle: true,
                fontSize: 10
              }
            },
            title: {
              display: true,
              text: val.name
            },
            scales: {
              yAxes: [{
                stacked: true
              }]
            }
          }
        });
      });
      $.each(pie, function(index, val) {
        let pie_data = {
          labels: val.chart.label,
          datasets: [val.chart.object]
        };
        let pie_e = $("#" + val.id);
        let pie_chart = new Chart(pie_e, {
          type: "pie",
          data: pie_data,
          options: {
            legend: {
              position: 'bottom',
              labels: {
                usePointStyle: true,
                fontSize: 10
              }
            },
            title: {
              display: true,
              text: val.name
            }
          }
        });
      });
      $.each(combo, function(index, val) {
        let combo_data = {
          labels: val.chart.label,
          datasets: [val.chart.object_1, val.chart.object_2]
        };
        let combo_e = $("#" + val.id);
        let combo_chart = new Chart(combo_e, {
          type: "bar",
          data: combo_data,
          options: {
            legend: {
              position: 'bottom',
              labels: {
                usePointStyle: true,
                fontSize: 10
              }
            },
            title: {
              display: true,
              text: val.name
            },
            scales: {
              yAxes: [{
                stacked: true
              }]
            }
          }
        });
      });
      $.each(radar, function(index, val) {
        let radar_data = {
          labels: val.chart.label,
          datasets: [val.chart.object_1, val.chart.object_2]
        };
        let radar_e = $("#" + val.id);
        let radar_chart = new Chart(radar_e, {
          type: "radar",
          data: radar_data,
          options: {
            legend: {
              position: 'bottom',
              labels: {
                usePointStyle: true,
                fontSize: 10
              }
            },
            title: {
              display: true,
              text: val.name
            },
            scale: {
              ticks: {
                display: false
              }
            },
            percentageInnerCutout: 5
          }
        });
      });
    }
  }
};
</script>
