<template>
    <div class="dashboard-pg" style="min-height: 500px">
      <div class="row" style="margin: 0px">
        <div class="col-xl-auto" style="padding-left:0px; padding-right: 0px; /**max-width: 15%**/" v-for="(item, index) in view_type" :key="index">
            <router-link :to="item.path" class="d-block">
              <div class="card-box" style="padding:0px!important; margin-bottom:0px">
                  <div class="bar-widget">
                      <div class="table-box">
                          <div class="table-detail">
                              <div class="iconbox dash-iconbox" :class="item.bg">
                                  <i :class="item.icon" class="dash-icon"></i>
                              </div>
                          </div>
                          <div class="table-detail">
                              <h4 class="m-t-0 m-b-5"><b><span>{{item.viewName}}</span></b></h4>
                          </div>
                      </div>
                  </div>
              </div>
            </router-link>
        </div>
        <div class="col">
<!--             <button type="button" class="btn btn-primary waves-effect waves-light float-right" data-toggle="modal" data-target="#modal-setting-dashboard">
                <i class=" ti-settings"></i>
            </button> -->
            <setting/>
        </div>
      </div>
      <router-view/>
    </div>
</template>

<script>
import Setting from "./setting.vue";
export default {
  name: "Dashboard",
  icon: "ti-home",
  data() {
    return {
      view_type: this.$router.options.routes[0].children
    };
  },
  components: {
    Setting
  },
  beforeMount(){
    if (this.$root.role() == 'superadmin'){
      this.$router.push('/company');
    } else {
      this.$router.push('/line-view');
    }
  }
};
</script>
