<template>
  <div class="card-box dash-card-box">
    <div class="row" style="margin: 0px ">
      <div class="clearfix col-md-3"></div>
      <div class="col-md-3">
        <p class="text-center font-bold border-bottom p-b-10">Present {{chartData.time}}</p>
        <div class="row">
          <div class="col text-center">
            <p class="font-bold">Target</p>
          </div>
          <div class="col text-center">
            <p class="font-bold">Current</p>
          </div>
          <div class="col text-center">
            <p class="font-bold">Progress</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p class="text-center font-bold border-bottom p-b-10">Average</p>
        <div class="row">
          <div class="col text-center">
            <p class="font-bold">Target</p>
          </div>
          <div class="col text-center">
            <p class="font-bold">Current</p>
          </div>
          <div class="col text-center">
            <p class="font-bold">Progress</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <p class="text-center font-bold">Performance graph</p>
      </div>
    </div>
    <div class="border-bottom" style="padding-right:10px !important; padding-left:10px !important" v-for="(item, index) in chartData.data" :key="index">
      <div class="row">
        <div class="col-md-3 align-self-center">
          <a>{{item.name}}</a>
        </div>
        <div class="col-md-3 align-self-center">
          <div class="row">
            <div class="col text-center align-self-center">
              <p class="m-0">{{item.current_target}}</p>
            </div>
            <div class="col border-left border-right text-center align-self-center">
              <p class="m-0">{{item.current_data}}</p>
            </div>
            <div class="col text-center align-self-center">
              <div class="progress progress-lg m-b-0">
                <div class="progress-bar" :class="item.current_percent_text" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" :style="'width:' + item.current_percent +'%;'">
                  {{item.current_percent}}%
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 align-self-center">
          <div class="row">
            <div class="col text-center align-self-center">
              <p class="m-0">{{item.average_target}}</p>
            </div>
            <div class="col border-left border-right text-center align-self-center">
              <p class="m-0">{{item.average_data}}</p>
            </div>
            <div class="col text-center align-self-center">
              <div class="progress progress-lg m-b-0">
                <div class="progress-bar" :class="item.percent_text" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" :style="'width:' + item.percent +'%;'">
                  {{item.percent}}%
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 align-self-center">
          <canvas :id="item.id" height="50"></canvas>
        </div>
      </div>
    </div>
    <!-- view when click to name of KPI -->
    <view-table/>
  </div>
</template>

<script>
  import View from "./view-table";
  import Form from "../../global/Form";
  export default {
    name: "Dashboard",
    viewName: "Grid View",
    icon: "ti-menu-alt",
    bg: "bg-info",
    data() {
      return {
        chartData: new Form({
          data: [],
          time: ""
        }),
        data: this.$root.myData.kpis
      };
    },
    components: {
      "view-table": View
    },
    beforeMount() {
      var vm = this;
      vm.$root.startLoading();
    },
    mounted() {
      this.fetchData();
    },
    methods: {
      fetchData: function() {
        var vm = this;
        vm.chartData.get('dashboard/data').then(function() {
          vm.drawChart(vm.chartData.data);
          vm.$root.stopLoading();
        });
      },
      drawChart: function(data) {
        var bar = [];
        var bar_stacked = [];
        var line = [];
        var pie = [];
        var combo = [];
        var radar = [];
        for (let i = 0; i < data.length; i++) {
          if (data[i].chart.type == "bar") {
            bar.push(data[i]);
          }
          if (data[i].chart.type == "bar-stacked") {
            bar_stacked.push(data[i]);
          }
          if (data[i].chart.type == "line") {
            line.push(data[i]);
          }
          if (data[i].chart.type == "pie") {
            pie.push(data[i]);
          }
          if (data[i].chart.type == "combo") {
            combo.push(data[i]);
          }
          if (data[i].chart.type == "radar") {
            radar.push(data[i]);
          }
        }
        $.each(bar, function(index, val) {
          let bar_data = {
            labels: val.chart.label,
            datasets: val.chart.objects
          };
          let bar_e = $("#" + val.id);
          let bar_chart = new Chart(bar_e, {
            type: "bar",
            data: bar_data,
            options: {
              tooltips: {
                enabled: false
              },
              title: {
                display: false
              },
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  ticks: {
                    display: false
                  }
                }],
                xAxes: [{
                  ticks: {
                    display: false
                  }
                }]
              }
            }
          });
        });
        $.each(bar_stacked, function(index, val) {
          let bar_data = {
            labels: val.chart.label,
            datasets: val.chart.objects
          };
          let bar_e = $("#" + val.id);
          let bar_chart = new Chart(bar_e, {
            type: "bar",
            data: bar_data,
            options: {
              tooltips: {
                enabled: false
              },
              title: {
                display: false
              },
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  ticks: {
                    beginAtZero: true,
                    display: false
                  },
                  stacked: true
                }],
                xAxes: [{
                  ticks: {
                    display: false
                  },
                  stacked: true
                }]
              }
            }
          });
        });
        $.each(line, function(index, val) {
          let line_data = {
            labels: val.chart.label,
            datasets: val.chart.objects
          };
          let line_e = $("#" + val.id);
          let line_chart = new Chart(line_e, {
            type: "line",
            data: line_data,
            options: {
              tooltips: {
                enabled: false
              },
              title: {
                display: false
              },
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  ticks: {
                    display: false
                  }
                }],
                xAxes: [{
                  ticks: {
                    display: false
                  }
                }]
              }
            }
          });
        });
        $.each(pie, function(index, val) {
          let pie_data = {
            labels: val.chart.label,
            datasets: [val.chart.object]
          };
          let pie_e = $("#" + val.id);
          let pie_chart = new Chart(pie_e, {
            type: "pie",
            data: pie_data,
            options: {
              tooltips: {
                enabled: false
              },
              title: {
                display: false
              },
              legend: {
                display: false
              },
            }
          });
        });
        $.each(combo, function(index, val) {
          let combo_data = {
            labels: val.chart.label,
            datasets: [val.chart.object_1, val.chart.object_2]
          };
          let combo_e = $("#" + val.id);
          let combo_chart = new Chart(combo_e, {
            type: "bar",
            data: combo_data,
            options: {
              tooltips: {
                enabled: false
              },
              title: {
                display: false
              },
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  ticks: {
                    display: false
                  }
                }],
                xAxes: [{
                  ticks: {
                    display: false
                  }
                }]
              }
            }
          });
        });
      // $.each(radar, function(index, val) {
      //     let radar_data = {
      //         labels: val.chart.label,
      //         datasets: [val.chart.object_1, val.chart.object_2]
      //     };
      //     let radar_e = $("#" + val.id);
      //     let radar_chart = new Chart(radar_e, {
      //         type: "radar",
      //         data: radar_data,
      //         options: {
      //             tooltips: {
      //                 enabled: false
      //             },
      //             label: {
      //                 display: false
      //             },
      //             title: {
      //                 display: false
      //             },
      //             legend: {
      //                 display: false
      //             },
      //             percentageInnerCutout: 5,
      //             scale: {
      //                 ticks: {
      //                     display: false
      //                 },
      //                 pointLabels: {
      //                     callback: function(pointLabel, index, labels) {
      //                         return "";
      //                     }
      //                 }
      //             }
      //         }
      //     });
      // });
    }
  }
};
</script>
