<template>
  <div id="modal-setting-dashboard" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="full-width-modalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-full">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Chọn KPI Để Tạo Bảng Theo Dõi</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <form action="" v-on:submit.prevent="storeSetting">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-2 p-0" v-for="(kpi, index) in kpis.data" :value="kpi.id">
                <label class="col-md-12" :for="'kpi' + index">
                  <div class="card-box cus-card-box">
                    <div class="checkbox checkbox-warning checkbox-circle checkbox-inline">
                      <input class="hidden" :id="'kpi' + index" type="checkbox" :value="kpi.id" v-model="checkeds">
                      <label class="cus-margin" :for="'kpi' + index">{{kpi.text}}</label>
                    </div>
                  </div>
                </label>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <div class="col-md-12 m-0" style="padding-left: 0px;padding-right: 0px;">
              <div class="checkbox checkbox-danger checkbox-circle checkbox-inline">
                <input id="init" type="checkbox" v-model="itemCreate.init">
                <label for="init">
                  Không hiển thị hộp thoại này nữa
                </label>
              </div>
              <button type="submit" class="btn btn-success waves-effect waves-light m-l-5 float-right">Xác nhận</button>
              <button type="button" class="btn btn-secondary waves-effect float-right" data-dismiss="modal">Hủy</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>

<script>
import Form from "../../global/Form";
import select2 from "../../global/Select2.vue";
export default {
  data() {
    return {
      itemCreate: new Form({
        kpi: [],
        init: 0
      }),
      kpis: new Form({
        data: []
      }),
      checkeds: []
    };
  },
  components: {
    "select2": select2
  },
  mounted() {
    this.fetchSetting();
  },
  methods: {
    fetchSetting: function() {
      var vm = this;
      vm.kpis.get('/kpi/list-all');
      vm.itemCreate.get('/dashboard/setting').then(function(data) {
        vm.checkeds = vm.itemCreate.kpi;
        if (!data.init) {
          $('#modal-setting-dashboard').modal('show');
        }
      });
    },
    storeSetting: function() {
      var vm = this;
      vm.itemCreate.kpi = vm.checkeds;
      vm.itemCreate.post('/dashboard/setting').then(function(data) {
        swal({
          title: data.message,
          type: 'success',
          allowEscapeKey: false,
          allowOutsideClick: false
        }).then(function() {
          $('#modal-setting-dashboard').modal('hide');
          location.reload();
        })
      });
    }
  }
};
</script>
