<template>
  <!-- ========== Left Sidebar Start ========== -->
  <div class="left side-menu cus-left">
    <div class="sidebar-inner slimscrollleft">
      <!--- Divider -->
      <div id="sidebar-menu">
        <ul>
          <li class="text-muted menu-title">Menu</li>
          <li v-can:alone.list="'NotSuperAdmin'">
            <router-link to="/line-view" class="waves-effect">
              <i class="ti-home"></i> <span> Dashboard </span>
            </router-link>
          </li>
          <li v-can:list.hide="'Report'">
            <router-link to="/report/list" class="waves-effect">
              <i class="ti-receipt"></i> <span> Report </span>
            </router-link>
          </li>
          <li v-can:list.hide="'KPI'">
            <router-link to="/kpi" class="waves-effect">
              <i class="ti-agenda"></i> <span> KPI Management</span>
            </router-link>
          </li>
          <li v-can:list.hide="'Organizations'">
            <router-link to="/organizations" class="waves-effect">
              <i class="ti-user"></i> <span> Organization </span>
            </router-link>
          </li>
          <li v-can:list.hide="'Department'">
            <router-link to="/deparment" class="waves-effect">
              <i class="ti-briefcase"></i> <span> Deparment </span>
            </router-link>
          </li>
          <li v-can:list.hide="'Company'">
            <router-link to="/company" class="waves-effect">
              <i class="ti-briefcase"></i> <span> Company </span>
            </router-link>
          </li>
        </ul>
        <div class="clearfix cus-clearfix">
          <ul>
            <li>
              <span class="span-calendar">
                    <datepicker :disabled="true" :wrapper-class="'cus-calendar-wrapper'" :calendar-class="'cus-calendar'" :value="date" :inline="true" :full-month-name="true">
                    </datepicker>
                </span>
            </li>
          </ul>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';

export default {
  data() {
    return {
      menu: this.$root.myData.menu,
      date: new Date()
    }
  },
  components: {
    "Datepicker": Datepicker
  },
  watch: {
    $route(to, from) {
      this.date = new Date();
    }
  }
};
</script>
