<template>
    <!-- Top Bar Start -->
    <div class="topbar head-cus">

        <!-- LOGO -->
        <div class="topbar-left head-cus">
            <div class="text-center head-cus">
                <router-link v-can:alone.hide="'NotSuperAdmin'" to="/line-view" class="logo" style="line-height: 40px;">
                    <i class="icon-c-logo head-cus" style="line-height: 40px;"> <img src="../../assets/images/logo_sm.png" height="42"/> </i>
                    <span>{{$root.role_name()}}</span>
                </router-link>
                <router-link v-can:alone.hide="'IsSuperAdmin'" to="/company" class="logo" style="line-height: 40px;">
                    <i class="icon-c-logo head-cus" style="line-height: 40px;"> <img src="../../assets/images/logo_sm.png" height="42"/> </i>
                    <span>{{$root.role_name()}}</span>
                </router-link>
            </div>
        </div>

        <!-- Button mobile view to collapse sidebar menu -->
        <nav class="navbar-custom head-cus" style="min-height: 0px !important;">

            <ul class="list-inline float-right mb-0">
                <li v-if="$route.path==='/line-view' || $route.path==='/chart-view' || $route.path==='/speed-view' || $route.path==='/'" class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect head-cus" href="#" role="button" aria-haspopup="false" aria-expanded="false" data-toggle="modal" data-target="#modal-setting-dashboard" style="line-height: 40px;">
                        <i class="ti-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item dropdown notification-list">
                    <a class="nav-link dropdown-toggle waves-effect waves-light nav-user head-cus" data-toggle="dropdown" href="#" role="button"
                        aria-haspopup="false" aria-expanded="false" style="line-height: 40px;">
                        <img src="../../assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                        <!-- item-->
                        <div class="dropdown-item noti-title">
                            <h5 class="text-overflow"><small>Xin Chào! {{$root.name()}}</small> </h5>
                        </div>
                        <a href="/logout" class="dropdown-item notify-item">
                           <i class="md md-settings-power"></i> <span>Đăng Xuất</span>
                        </a>
                    </div>
                </li>

            </ul>

            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <button class=" head-cus button-menu-mobile open-left waves-light waves-effect">
                        <i class="dripicons-menu"></i>
                    </button>
                </li>
                <!-- <li class="hide-phone app-search">
                    <form role="search" class="">
                        <input type="text" placeholder="Tìm kiếm..." class="form-control">
                        <a href=""><i class="fa fa-search"></i></a>
                    </form>
                </li> -->
            </ul>

        </nav>

    </div>
    <!-- Top Bar End -->
</template>

<script>
export default {
  mounted() {
    // $(".noti-slim").slimScroll({
    //   height: "380px"
    // });
  }
};
</script>

<style>
.noti-slim {
  height: 300px;
  overflow-y: scroll;
}
</style>
