<template>
  <div class="card-box" v-can:list.hide="'Organizations'">
    <!-- Search and create button -->
    <div class="row justify-content-end m-b-20">
      <div class="col-auto">
        <div class="input-group search-table">
          <input type="text" v-model="search_key" class="form-control" placeholder="Tìm tên, mã nhân viên">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="ti-search"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto" v-can:alone.hide="'NotGeneralinchief'">
        <div class="form-group">
          <select class="select2 form-control" v-model="search_department">
            <option value="" selected>Tất Cả Phòng Ban</option>
            <option v-for="department in departmentOption.data" :value="department.id">
              {{department.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-auto" v-can:alone.hide="'NotGeneralinchief'">
        <div class="form-group">
          <select class="select2 form-control" v-model="search_role">
            <option value="" selected>Tất Cả Chức Vụ</option>
            <option value="2" v-can:alone.hide="'IsAdmin'">Giám đốc</option>
            <option value="3">Trưởng phòng</option>
            <option value="4">Nhân viên</option>
          </select>
        </div>
      </div>
      <div id="modal-edit-person" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cập Nhật Thông Tin Nhân Viên</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="alert alert-danger" v-if="updateItem.anyError()">
              <div v-if="updateItem.hasError('person_name')" v-html="updateItem.showError('person_name')"></div>
              <div v-if="updateItem.hasError('person_code')" v-html="updateItem.showError('person_code')"></div>
              <div v-if="updateItem.hasError('person_role')" v-html="updateItem.showError('person_role')"></div>
              <div v-if="updateItem.hasError('person_department_name')" v-html="updateItem.showError('person_department_name')"></div>
              <div v-if="updateItem.hasError('password')" v-html="updateItem.showError('password')"></div>
            </div>
            <form action="" v-on:submit.prevent="itemSave">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group" :class="{'has-error': updateItem.hasError('person_code')}">
                      <label for="">ID</label>
                      <input v-model="updateItem.person_code" class="form-control" v-can:edit.disable="'DetailEmployees'" v-on:focus="clearUpdateError('person_code')">
                    </div>
                    <div v-can:alone.hide="'IsManagerAdmin'" class="form-group" :class="{'has-error': updateItem.hasError('person_department_name')}" v-can:edit.hide="'DetailEmployees'">
                      <label for="">Phòng ban</label>
                      <suggestions v-model="updateQuery" :options="options" :onItemSelected="onUpdateSearchItemSelected" :onInputChange="onDepartmentUpdateInputChange">
                        <div slot="item" slot-scope="props" class="single-item">
                          Có phải ý của bạn là: {{props.item}}
                        </div>
                      </suggestions>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" :class="{'has-error': updateItem.hasError('person_name')}">
                      <label for="">Họ tên</label>
                      <input v-model="updateItem.person_name" class="form-control" v-can:edit.disable="'DetailEmployees'" v-on:focus="clearUpdateError('person_name')">
                    </div>
                    <div v-can:alone.hide="'IsManagerAdmin'" class="form-group" :class="{'has-error': updateItem.hasError('person_role')}">
                      <label for="">Chức vụ</label>
                      <select class="select2 form-control" v-model="updateItem.person_role" v-can:edit.disable="'DetailEmployees'" v-on:focus="clearUpdateError('person_role')">
                        <option value="" selected disabled>Chọn chức vụ</option>
                        <option value="2">Giám đốc</option>
                        <option value="3">Trưởng phòng</option>
                        <option value="4">Nhân viên</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Mật khẩu</label>
                      <div class="input-group reset-pass" :class="{'has-error': updateItem.hasError('password')}">
                        <input v-model="updateItem.password" class="form-control" disabled>
                        <div class="input-group-prepend">
                          <div class="input-group-text">
                            <a href="javascript:void(0);" class="d-block" v-on:click="resetPassword">
                                                            RESET
                                                        </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light">Lưu</button>
              </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <div class="alert alert-danger" v-if="createItem.anyError()">
      <div v-if="createItem.hasError('person_name')" v-html="createItem.showError('person_name')"></div>
      <div v-if="createItem.hasError('person_code')" v-html="createItem.showError('person_code')"></div>
      <div v-if="createItem.hasError('person_role')" v-html="createItem.showError('person_role')"></div>
      <div v-if="createItem.hasError('person_department_name')" v-html="createItem.showError('person_department_name')">
      </div>
    </div>
    <div class="responsive-table">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">ID Nhân Viên</th>
            <th class="text-center">Họ Tên Nhân Viên</th>
            <th class="text-center" v-can:alone.hide="'NotGeneralinchief'">Phòng ban</th>
            <th class="text-center" v-can:alone.hide="'IsManagerAdmin'">Chức vụ</th>
            <th class="text-center" v-can:edit.hide="'Organizations'" width="10%">Tác vụ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-can:create.hide="'Organizations'">
            <td :class="{'has-error': createItem.hasError('person_code')}">
              <input placeholder="Nhập ID" v-model="createItem.person_code" class="form-control" v-on:focus="clearStoreError('person_code')">
            </td>
            <td :class="{'has-error': createItem.hasError('person_name')}">
              <input placeholder="Nhập Họ Và Tên" v-model="createItem.person_name" class="form-control" v-on:focus="clearStoreError('person_name')">
            </td>
            <td :class="{'has-error': createItem.hasError('person_department_name')}" v-can:alone.hide="'NotGeneralinchief'">
              <suggestions v-model="storeQuery" :options="options" :onItemSelected="onStoreSearchItemSelected" :onInputChange="onDepartmentStoreInputChange">
                <div slot="item" slot-scope="props" class="single-item">
                  Có phải ý của bạn là: {{props.item}}
                </div>
              </suggestions>
            </td>
            <td :class="{'has-error': createItem.hasError('person_role')}" v-can:alone.hide="'IsAdmin'">
              <select class="select2 form-control" v-model="createItem.person_role" v-on:focus="clearStoreError('person_role')">
                <option value="" selected disabled>Chọn chức vụ</option>
                <option value="2">Giám đốc</option>
                <option value="3">Trưởng phòng</option>
                <option value="4">Nhân viên</option>
              </select>
            </td>
            <td class="text-center align-middle" width="10%">
              <a v-can:edit.hide="'Organizations'" class="pointer m-r-10">
                <i class="ti-check text-success" title="Lưu" v-on:click="itemStore"></i>
              </a>
              <a v-can:edit.hide="'Organizations'" class="pointer" title="Hủy" v-on:click="cancelCreate">
                <i class="ti-close text-danger"></i>
              </a>
            </td>
          </tr>
          <tr v-for="(emp, index) in employees.data" :key="index">
            <td>{{emp.code}}</td>
            <td>{{emp.name}}</td>
            <td v-can:alone.hide="'IsManagerAdmin'">
              {{emp.department_name}}
            </td>
            <td v-can:alone.hide="'IsManagerAdmin'">
              {{emp.role.name}}
            </td>
            <td class="text-center align-middle" v-can:edit.hide="'Organizations'">
              <a class="m-r-10 pointer">
                <i class="ti-pencil-alt text-success" title="Sửa" v-on:click="editPerson(emp)"></i>
              </a>
              <a class="pointer" v-on:click="deleteEmploye(emp.name,emp.id)" title="Xóa">
                <i class="ti-close text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <nav>
        <pagination :paginate="employees"></pagination>
      </nav>
    </div>
  </div>
</template>

<script>
import Pagination from '../../global/ViasPagination.vue';
import Form from "../../global/Form";
import Suggestions from 'v-suggestions';
export default {
  name: "Organizations",
  icon: "ti-user",
  data() {
    return {
      storeQuery: '',
      updateQuery: '',
      options: {
        placeholder: 'Nhập Tên Phòng Ban',
        inputClass: 'form-control'
      },
      search_key: '',
      search_department: '',
      search_role: '',
      createItem: new Form({
        person_name: '',
        person_code: '',
        person_role: '',
        person_department_name: ''
      }),
      updateItem: new Form({
        id: '',
        person_name: '',
        person_code: '',
        person_role: '',
        person_department_name: '',
        password: ''
      }),
      employees: new Form({
        data: [],
        total: 0,
        per_page: "",
        current_page: "",
        last_page: "",
        next_page_url: "",
        prev_page_url: "",
        from: "",
        to: "",
        loading: false
      }),
      deleteItem: new Form({
        name: 0,
        id: 0
      }),
      passwordHelper: new Form({
        data: ''
      }),
      departmentSuggestion: new Form({
        data: []
      }),
      departmentOption: new Form({
        data: []
      })
    };
  },
  components: {
    "pagination": Pagination,
    'suggestions': Suggestions
  },
  watch: {
    'search_key': function() {
      this.fetchData();
    },
    'search_department': function() {
      this.fetchData();
    },
    'search_role': function() {
      this.fetchData();
    }
  },
  beforeMount() {
    var vm = this;
    vm.$root.startLoading();
  },
  mounted() {
    this.fetchOption();
    this.fetchData();
  },
  methods: {
    onDepartmentUpdateInputChange(query) {
      this.clearUpdateError('person_department_name')
      this.updateItem.person_department_name = query;
      if (query.trim().length === 0) {
        return null
      }
      return this.departmentSuggestion.data.filter((department) => {
        return department.toLowerCase().includes(query.toLowerCase())
      })
    },
    onDepartmentStoreInputChange(query) {
      this.clearStoreError('person_department_name')
      this.createItem.person_department_name = query;
      if (query.trim().length === 0) {
        return null
      }
      return this.departmentSuggestion.data.filter((department) => {
        return department.toLowerCase().includes(query.toLowerCase())
      })
    },
    onUpdateSearchItemSelected(item) {
      this.updateQuery = item;
      this.updateItem.person_department_name = item;
    },
    onStoreSearchItemSelected(item) {
      this.storeQuery = item;
      this.createItem.person_department_name = item;
    },
    cancelCreate: function() {
      this.createItem.reset();
    },
    clearStoreError: function(field) {
      this.createItem.errors.clear(field);
    },
    clearUpdateError: function(field) {
      this.updateItem.errors.clear(field);
    },
    resetPassword: function() {
      var vm = this;
      vm.passwordHelper.get('/helper/gen-otp').then(function(data) {
        vm.updateItem.password = vm.passwordHelper.data;
        vm.clearUpdateError('password');
      });
    },
    fetchData: function(n = 1) {
      var vm = this;
      vm.employees.get('/employees/list?page=' + n + '&search_key=' + this.search_key + '&search_department=' + this.search_department + '&search_role=' + this.search_role).then(function() {
        vm.$root.stopLoading();
      });
    },
    fetchOption: function() {
      var vm = this;
      vm.departmentSuggestion.get('/department/suggestions').then(function() {});
      vm.departmentOption.get('/department/option').then(function() {});
    },
    deleteEmploye: function(name, id) {
      var vm = this;
      vm.deleteItem.name = name;
      vm.deleteItem.id = id;
      var message = "Bạn có thực sự muốn thực hiện tác vụ xóa " + name + " ?";
      swal({
        title: 'Yêu cầu xác nhận',
        text: message,
        type: "warning",
        showCancelButton: true,
        allowEscapeKey: false,
        allowOutsideClick: false,
        focusConfirm: false,
        cancelButtonText: 'Đóng',
        confirmButtonColor: "#f05050"
      }).then((result) => {
        if (result.value) {
          vm.deleteItem.post("/employees/delete").then(
            function(data) {
              vm.deleteItem.reset();
              swal({
                title: data.message,
                type: 'success',
                allowEscapeKey: false,
                allowOutsideClick: false,
              }).then(function() {
                vm.fetchData();
              })
            },
            function(error) {
              swal({
                title: error.response.data.message,
                type: 'error',
                allowEscapeKey: false,
                allowOutsideClick: false,
              }).then(function() {})
            });
        }
      });
    },
    itemSave: function() {
      var vm = this;
      vm.updateItem.post('/employees/update').then(
        function(data) {
          vm.updateItem.reset();
          swal({
            title: data.message,
            type: 'success',
            allowEscapeKey: false,
            allowOutsideClick: false,
          }).then(function() {
            $("#modal-edit-person").modal("hide");
            vm.fetchData();
          })
        },
        function(error) {
          swal({
            title: error.response.data.message,
            type: 'error',
            allowEscapeKey: false,
            allowOutsideClick: false,
          }).then(function() {})
        });
    },
    editPerson: function(item) {
      var vm = this;
      vm.updateItem.reset();
      vm.updateItem.id = item.id;
      vm.updateItem.person_name = item.name;
      vm.updateItem.person_code = item.code;
      vm.updateItem.person_role = item.role.id;
      vm.updateItem.person_department_name = item.department_name;
      vm.updateQuery = item.department_name;
      vm.updateItem.password = item.password;
      $("#modal-edit-person").modal("show");
    },
    itemStore: function() {
      var vm = this;
      vm.createItem.post('/organization/store').then(
        function(data) {
          vm.createItem.reset();
          swal({
            title: data.message,
            type: 'success',
            allowEscapeKey: false,
            allowOutsideClick: false,
          }).then(function() {
            vm.fetchData();
          })
        },
        function(error) {
          swal({
            title: error.response.data.message,
            type: 'error',
            allowEscapeKey: false,
            allowOutsideClick: false,
          }).then(function() {})
        });
    }
  }
};
</script>
