<template>
    <div class="card-box">
        <div>
            <!-- button edit for only manager -->
            <!-- when click "edit button", status on kpi changes from false to true -->
            <button type="button" class="btn btn-warning waves-effect waves-light float-right m-b-20 m-l-5" v-show="kpi.status == false" @click="edit">Sửa</button>
            
            <!-- button confirm for only staff -->
            <!-- When the update is complete, the staff click confirm to update, moving the status from true to false -->
            <button type="button" class="btn btn-success waves-effect waves-light float-right m-b-20" v-show="kpi.status == true" @click="confirm">Xác nhận</button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th v-for="(item, index) in frequency[0]" :key="index" class="text-center">{{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- show target of kpi -->
                    <td class="text-muted">Mục tiêu</td>
                    <td class="text-muted text-center" v-for="(item, index) in target" :key="index">
                        {{target[index]}}
                    </td>
                </tr>
                <tr v-for="(item, index) in current" :key="index">
                    <td>{{item.object}}</td>
                    <td v-for="(i, index) in item.data" :key="index" class="text-center">
                        <p v-show="i != null">{{i}}</p>
                        <input type="number" v-show="i == null" class="form-control" :disabled="kpi.status == false" required>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
  data() {
    return {
      kpi: this.$root.myData.kpis[0],
      frequency: this.$root.myData.frequency,
      target: this.$root.myData.kpis[0].target,
      current: this.$root.myData.kpis[0].current
    };
  },
  methods: {
    edit: function() {
      this.$root.myData.kpis[0].status = true;
    },
    confirm: function() {
      this.$root.myData.kpis[0].status = false;
    }
  }
};
</script>

