<template>
    <div class="row">
        <div class="col-md-3" v-for="(item, index) in kpis" :key="index">
            <router-link to="/report/import">
                <div class="card-box">
                    <p class="m-0 text-dark font-bold font-16">
                        {{item.name}}
                    </p>
                </div>
            </router-link>
        </div>
    </div>
</template>

<script>
export default {
  name: "Report",
  icon: "ti-receipt",
  data() {
    return {
      kpis: this.$root.myData.kpis
    };
  }
};
</script>

