<template>
    <div id="modal-create-kpi-confirm" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm KPI - Xác nhận KPI</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">
                                <img src="../../assets/images/chart/chart-bar.png" alt="" class="img-fluid">
                            </div>
                            <div class="col-md-6 col-lg-8">
                                <div>
                                    <label for="">Mã KPI</label>
                                    <p>HR001</p>
                                </div>
                                <div>
                                    <label for="">Tên KPI</label>
                                    <p>Tổng số nhân viên nghỉ việc theo từng bộ phận</p>
                                </div>
                                <div>
                                    <label for="">Đơn vị tính</label>
                                    <p>người</p>
                                </div>
                                <div>
                                    <label for="">Kiểu dữ liệu</label>
                                    <p>Theo số</p>
                                </div>
                                <div>
                                    <label for="">Trend</label>
                                    <p>3 tháng</p>
                                </div>
                                <div>
                                    <label for="">Tần suất nhập</label>
                                    <p>Theo tháng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Xác nhận</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {};
</script>

