<template>
    <!-- select type of chart -->
    <div id="modal-create-kpi-create-1" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo KPI - Chọn kiểu chart</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="type-chart row">
                            <div class="col-md-4" v-for="item in itemsList.data">
                                <input type="radio" name="type-chart" :value="item.id" v-model="chart_type_seeding" v-on:click="$emit('typeChange', item.id)" :id="item.name">
                                <label :for="item.name">
                                    <img :src="item.icon" alt="">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" data-target="#modal-create-kpi-create-2" data-toggle="modal">Tiếp theo</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>
<script>
import Form from "../../global/Form";
export default {
    data() {
            return {
                itemsList: new Form({
                    data: [],
                    total: 0,
                    per_page: "",
                    current_page: "",
                    last_page: "",
                    next_page_url: "",
                    prev_page_url: "",
                    from: "",
                    to: "",
                    loading: false
                }),
                chart_type_seeding: 1
            }
        },
        mounted() {
            this.fetchData();
        },
        methods: {
            fetchData: function(n = 1) {
                var vm = this;
                vm.itemsList.get('/charttype/list?page=' + n).then(function() {});
            }
        }
};
</script>