<template>
    <div id="modal-create-kpi-create-2" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo KPI - Tạo bảng dữ liệu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="" v-on:submit.prevent="itemStore">
                    <div class="modal-body">
                        <div class="row scroll-info">
                            <div class="col-12">
                                <div class="form-group" :class="{'has-error': itemCreate.hasError('name')}">
                                    <label for="">Tên KPI</label>
                                    <input v-model="itemCreate.name" type="text" class="form-control" placeholder="VD: Tổng số nhân viên nghỉ việc theo từng bộ phận">
                                    <div class="text-danger" v-if="itemCreate.hasError('name')">{{itemCreate.showError('name')}}</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group" :class="{'has-error': itemCreate.hasError('description')}">
                                    <label for="">Mô Tả KPI</label>
                                    <textarea v-model="itemCreate.description" placeholder="VD: KPI này được tính theo quý" type="text" class="form-control">
                                    </textarea>
                                    <div class="text-danger" v-if="itemCreate.hasError('description')">{{itemCreate.showError('description')}}</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row form-group" :class="{'has-error': itemCreate.hasError('unit')}">
                                    <div class="col-auto align-self-center">
                                        <label for="" class="m-0">ĐVT</label>
                                    </div>
                                    <div class="col align-self-center p-0">
                                        <input v-model="itemCreate.unit" type="text" class="form-control" placeholder="VD: kWh, người,...">
                                        <div class="text-danger" v-if="itemCreate.hasError('unit')">{{itemCreate.showError('unit')}}</div>
                                    </div>
                                </div>
                            </div>
                            <div v-if="false" class="col-md-4">
                                <div class="row">
                                    <div class="col-auto align-self-center">
                                        <label for="" class="m-0">Kiểu DL</label>
                                    </div>
                                    <div class="col align-self-center p-0">
                                        <select class="form-control">
                                            <option value="" selected disabled>Chọn kiểu dữ liệu</option>
                                            <option value="">Kiểu số</option>
                                            <option value="">Kiểu %</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div v-if="false" class="col-md-4">
                                <div class="row">
                                    <div class="col-auto align-self-center">
                                        <label for="" class="m-0">Trend</label>
                                    </div>
                                    <div class="col align-self-center p-l-0">
                                        <select class="form-control">
                                            <option value="" selected disabled>Chọn trend</option>
                                            <option value="">3 tháng</option>
                                            <option value="">6 tháng</option>
                                            <option value="">9 tháng</option>
                                            <option value="">12 tháng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 m-t-15">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="frequency">
                                                <th class="choose">
                                                    <select class="form-control" v-model="itemCreate.time_frame" @change="choose_frequency">
                                                        <option value="12" selected>Theo tháng</option>
                                                        <option value="4">Theo quý</option>
                                                    </select>
                                                </th>
                                                <th v-for="(item, index) in frequency_type" :key="index">{{item}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="target">
                                                <td class="font-bold">Mục tiêu</td>
                                                <template v-if="itemCreate.time_frame == 4">
                                                    <td>
                                                        <input v-type="number" v-model="values[0]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[1]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[2]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[3]" class="form-control">
                                                    </td>
                                                </template>
                                                <template v-if="itemCreate.time_frame == 12">
                                                    <td>
                                                        <input type="number" v-model="values[0]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[1]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[2]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[3]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[4]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[5]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[6]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[7]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[8]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[9]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[10]" class="form-control">
                                                    </td>
                                                    <td>
                                                        <input type="number" v-model="values[11]" class="form-control">
                                                    </td>
                                                </template>
                                            </tr>
                                            <tr class="object" v-for="target in targetList">
                                                <td>
                                                    <input class="form-control" v-model="target.name">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success waves-effect waves-light" @click="add_object">Thêm đối tượng</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Tạo</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>
<script>
import Form from "../../global/Form";
export default {
    props: ['type'],
    data() {
        return {
            frequency: this.$root.myData.frequency,
            frequency_type: this.$root.myData.frequency[0],
            itemCreate: new Form({
                name: '',
                unit: '',
                description: '',
                data_type: '',
                trend_length: '',
                chart_type_id: '',
                time_frame: 12,
                target: '',
                time_frame_target: []
            }),
            targetList: [{
                name: ''
            }],
            values: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
        };
    },
    mounted() {
        $(".scroll-info").slimScroll({
            height: "380px"
        });
    },
    methods: {
        itemStore: function() {
            var vm = this;
            vm.itemCreate.chart_type_id = this.type;
            console.log(vm.itemCreate);
            vm.itemCreate.target = vm.targetList;
            vm.itemCreate.time_frame_target = vm.values;
            vm.itemCreate.post('/kpi/store').then(
                function(data) {
                    $('#modal-create-department').modal('hide');
                    vm.itemCreate.reset();
                    swal({
                        title: data.message,
                        type: 'success',
                        allowEscapeKey: false,
                        allowOutsideClick: false,
                    }).then(function() {
                        location.reload();
                    })
                });
        },
        choose_frequency: function(e) {
            if ($(e.currentTarget).val() == "12") {
                this.frequency_type = this.frequency[0];
            } else if ($(e.currentTarget).val() == "4") {
                this.frequency_type = this.frequency[1];
            }
        },
        add_object: function() {
            this.addRow();
        },
        addRow: function() {
            this.targetList.push({
                id: ''
            })
        }
    }
};
</script>