<template>
  <div class="card-box">
    <form action="" v-on:submit.prevent="itemInit">
      <div class="col-12">
        <label class="text-danger font-bold font-25" for="">{{preinitItem.name}}</label>
      </div>
      <div class="col-12">
        <div class="alert alert-danger" v-if="updateItem.anyError()">
          <div v-if="updateItem.hasError('kpi_unit')" v-html="updateItem.showError('kpi_unit')"></div>
          <div v-if="updateItem.hasError('kpi_description')" v-html="updateItem.showError('kpi_description')"></div>
          <div v-if="updateItem.hasError('kpi_trend_length')" v-html="updateItem.showError('kpi_trend_length')"></div>
          <div v-if="updateItem.hasError('kpi_target')" v-html="updateItem.showError('kpi_target')"></div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="">Chọn kiểu chart</label>
          <div class="type-chart row">
            <div class="col-md-2" v-for="item in itemsList.data" :class="{'custom-for-dashboard div-item': chart_type_seeding == item.id}">
              <input type="radio" name="type-chart" :value="item.id" v-model="chart_type_seeding" v-on:click="$emit('typeChange', item.id)" :id="item.name">
              <label :for="item.name">
                <img :src="item.icon" alt="" width="100%" height="100px">
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group" :class="{'has-error': updateItem.hasError('kpi_description')}">
          <label for="">Mô Tả KPI-Công Thức Tính</label>
          <textarea v-model="updateItem.kpi_description" placeholder="VD: KPI này được tính theo quý" class="form-control" v-on:focus="clearUpdateError('kpi_description')">
          </textarea>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row form-group" :class="{'has-error': updateItem.hasError('kpi_unit')}">
          <div class="col-auto align-self-center">
            <label for="" class="m-0">ĐVT</label>
          </div>
          <div class="col align-self-center p-0">
            <input v-model="updateItem.kpi_unit" class="form-control" placeholder="VD: kWh, người,..." v-on:focus="clearUpdateError('kpi_unit')">
          </div>
        </div>
      </div>
      <div v-if="false" class="col-md-4">
        <div class="row">
          <div class="col-auto align-self-center">
            <label for="" class="m-0">Kiểu DL</label>
          </div>
          <div class="col align-self-center p-0">
            <select class="form-control">
              <option value="" selected disabled>Chọn kiểu dữ liệu</option>
              <option value="">Kiểu số</option>
              <option value="">Kiểu %</option>
            </select>
          </div>
        </div>
      </div>
      <div v-if="false" class="col-md-4">
        <div class="row">
          <div class="col-auto align-self-center">
            <label for="" class="m-0">Trend</label>
          </div>
          <div class="col align-self-center p-l-0">
            <select class="form-control">
              <option value="" selected disabled>Chọn trend</option>
              <option value="">3 tháng</option>
              <option value="">6 tháng</option>
              <option value="">9 tháng</option>
              <option value="">12 tháng</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-12 m-t-15">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr class="frequency">
                <th class="choose">
                  <select class="form-control" v-model="updateItem.kpi_time_frame" v-on:change="choose_frequency">
                    <option value="12" selected>Theo tháng</option>
                    <option value="4">Theo quý</option>
                  </select>
                </th>
                <th class="text-center" v-for="(item, index) in frequency_type" :key="index">{{item}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="target">
                <td class="text-center font-bold" width="15%">Mục tiêu</td>
                <template v-if="updateItem.kpi_time_frame == 4">
                  <td width="5%">
                    <input type="number" v-model="values[0]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[1]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[2]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[3]" class="form-control">
                  </td>
                </template>
                <template v-if="updateItem.kpi_time_frame == 12">
                  <td width="5%">
                    <input type="number" v-model="values[0]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[1]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[2]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[3]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[4]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[5]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[6]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[7]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[8]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[9]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[10]" class="form-control">
                  </td>
                  <td width="5%">
                    <input type="number" v-model="values[11]" class="form-control">
                  </td>
                </template>
              </tr>
              <tr class="object" v-for="(target, index) in targetList">
                <td :class="{'has-error': updateItem.hasError('kpi_target')}">
                  <div class="input-group input-group-sm mb-3">
                    <input v-on:focus="clearUpdateError('kpi_target')" class="form-control" placeholder="Đối Tượng Theo Dõi" v-model="targetList[index]" v-focus>
                    <div class="input-group-append">
                      <button :disabled="targetList.length < 2" :title="(targetList.length < 2)?'Không thể xóa! Tối thiểu phải có 1 đối tượng theo dõi!':''" type="button" class="btn btn-outline-danger waves-effect waves-light ti-minus" v-on:click="del_object(index)"></button>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button type="button" class="btn btn-success btn-rounded waves-effect waves-light ti-plus" v-on:click="add_object"></button>
        </div>
      </div>
      <div class="modal-footer">
        <router-link to="/report/list" class="btn btn-outline-danger waves-effect">Hủy</router-link>
        <button type="submit" class="btn btn-outline-success waves-effect waves-light">Tạo</button>
      </div>
    </form>
  </div>
</template>

<script>
import Form from "../../global/Form";
export default {
  props: ['type'],
  data() {
    return {
      frequency: this.$root.myData.frequency,
      frequency_type: this.$root.myData.frequency[0],
      itemsList: new Form({
        data: [],
        total: 0,
        per_page: "",
        current_page: "",
        last_page: "",
        next_page_url: "",
        prev_page_url: "",
        from: "",
        to: "",
        loading: false
      }),
      chart_type_seeding: 1,
      updateItem: new Form({
        id: '',
        kpi_chart_type_id: 1,
        kpi_unit: '',
        kpi_description: '',
        kpi_trend_length: '',
        kpi_time_frame: 12,
        kpi_target: '',
        kpi_time_frame_target: []
      }),
      preinitItem: new Form({
        id: '',
        name: ''
      }),
      targetList: [''],
      values: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
    };
  },
  beforeMount() {
    var vm = this;
    vm.$root.startLoading();
  },
  mounted() {
    this.fetchData();
  },
  directives: {
    focus: {
      // directive definition
      inserted: function(el) {
        el.focus()
      }
    }
  },
  methods: {
    clearUpdateError: function(field) {
      this.updateItem.errors.clear(field);
    },
    itemInit: function() {
      var vm = this;
      vm.updateItem.id = vm.preinitItem.id;
      vm.updateItem.kpi_target = vm.targetList;
      vm.updateItem.kpi_time_frame_target = vm.values;
      vm.updateItem.kpi_chart_type_id = vm.chart_type_seeding;
      vm.updateItem.post('/kpi/init').then(
        function(data) {
          vm.updateItem.reset();
          swal({
            title: data.message,
            type: 'success',
            allowEscapeKey: false,
            allowOutsideClick: false,
          }).then(function() {
            vm.$root._router.push({
              path: '/report/list'
            });
          })
        },
        function(error) {
          swal({
            title: error.response.data.message,
            type: 'error',
            allowEscapeKey: false,
            allowOutsideClick: false,
          }).then(function() {})
        });
    },
    choose_frequency: function(e) {
      if ($(e.currentTarget).val() == "12") {
        this.frequency_type = this.frequency[0];
      } else if ($(e.currentTarget).val() == "4") {
        this.frequency_type = this.frequency[1];
      }
    },
    add_object: function() {
      this.addRow();
    },
    del_object: function(index) {
      this.removeRow(index);
    },
    addRow: function() {
      this.targetList.push('');
    },
    removeRow: function(index) {
      this.targetList.splice(index, 1);
    },
    fetchData: function(n = 1) {
      var vm = this;
      vm.preinitItem.get('/kpi/show/' + this.$route.params.id).then(function() {
        vm.$root.stopLoading();
      });
      vm.itemsList.get('/charttype/list?page=' + n);
    }
  }
};
</script>
