<template>
  <div class="card-box">
    <!-- Search and create button -->
    <div class="row justify-content-end m-b-20">
      <div class="col-auto">
        <div class="input-group search-table">
          <input type="text" v-model="search_key" class="form-control" placeholder="Tìm tên, mã KPI">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="ti-search"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-auto" v-can:alone.hide="'IsManager'">
        <div class="form-group">
          <select class="select2 form-control" v-model="search_department">
            <option value="" selected>Tất Cả Phòng Ban</option>
            <option v-for="department in departmentOption.data" :value="department.id">
              {{department.name}}
            </option>
          </select>
        </div>
      </div>
      <div id="modal-edit-kpi" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Cập Nhật Thông Tin KPI</h4>
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="alert alert-danger" v-if="updateItem.anyError()">
              <div v-if="updateItem.hasError('kpi_code')" v-html="updateItem.showError('kpi_code')"></div>
              <div v-if="updateItem.hasError('kpi_name')" v-html="updateItem.showError('kpi_name')"></div>
              <div v-if="updateItem.hasError('kpi_owner')" v-html="updateItem.showError('kpi_owner')"></div>
            </div>
            <form action="" v-on:submit.prevent="itemSave">
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group" :class="{'has-error': updateItem.hasError('kpi_code')}">
                      <label for="">KPI Code</label>
                      <input v-model="updateItem.kpi_code" class="form-control" v-on:focus="clearUpdateError('kpi_code')">
                    </div>
                    <div class="form-group" :class="{'has-error': updateItem.hasError('kpi_name')}">
                      <label for="">KPI Name</label>
                      <input v-model="updateItem.kpi_name" class="form-control" v-on:focus="clearUpdateError('kpi_name')">
                    </div>
                    <div class="form-group" :class="{'has-error': updateItem.hasError('kpi_owner')}">
                      <label for="">Người Chịu Trách Nhiệm</label>
                      <select class="select2 form-control" v-model="updateItem.kpi_owner" v-on:focus="clearUpdateError('kpi_owner')">
                        <option value="0" selected disabled>Chọn Nhân Viên</option>
                        <option v-for="employee in employeeOption.data" :value="employee.id">
                          {{employee.name}}
                        </option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                <button type="submit" class="btn btn-primary waves-effect waves-light">Lưu</button>
              </div>
            </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
    <div class="alert alert-danger" v-if="createItem.anyError()">
      <div v-if="createItem.hasError('kpi_code')" v-html="createItem.showError('kpi_code')"></div>
      <div v-if="createItem.hasError('kpi_name')" v-html="createItem.showError('kpi_name')"></div>
      <div v-if="createItem.hasError('kpi_owner')" v-html="createItem.showError('kpi_owner')"></div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Mã Số KPI</th>
            <th class="text-center">Tên</th>
            <th v-can:alone.hide="'IsManager'" class="text-center">Mô Tả</th>
            <th v-can:alone.hide="'IsManager'" class="text-center">Phòng Ban</th>
            <th class="text-center">Người Chịu Trách Nhiệm</th>
            <th class="text-center align-middle" width="10%" v-can:edit.hide="'KPI'">Tác Vụ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-can:edit.hide="'KPI'">
            <td :class="{'has-error': createItem.hasError('kpi_code')}">
              <input placeholder="Nhập Mã Số KPI" v-model="createItem.kpi_code" class="form-control" v-on:focus="clearStoreError('kpi_code')">
            </td>
            <td :class="{'has-error': createItem.hasError('kpi_name')}">
              <input placeholder="Nhập Tên KPI" v-model="createItem.kpi_name" class="form-control" v-on:focus="clearStoreError('kpi_name')">
            </td>
            <td :class="{'has-error': createItem.hasError('kpi_owner')}">
              <select class="select2 form-control" v-model="createItem.kpi_owner" v-on:focus="clearStoreError('kpi_owner')">
                <option value="" selected disabled>Chọn Nhân Viên</option>
                <option v-for="employee in employeeOption.data" :value="employee.id">{{employee.name}}</option>
              </select>
            </td>
            <td class="text-center align-middle" width="10%">
              <a v-can:edit.hide="'Organizations'" class="pointer m-r-10">
                <i class="ti-check text-success" title="Lưu" v-on:click="itemStore"></i>
              </a>
              <a v-can:edit.hide="'Organizations'" class="pointer" title="Hủy" v-on:click="cancelCreate">
                <i class="ti-close text-danger"></i>
              </a>
            </td>
          </tr>
          <tr v-for="(kpi, index) in kpiList.data" :key="index">
            <td>{{kpi.code}}</td>
            <td>{{kpi.name}}</td>
            <td v-can:alone.hide="'IsManager'">{{kpi.description}}</td>
            <td v-can:alone.hide="'IsManager'">{{kpi.res_depart}}</td>
            <td>{{kpi.user.name}}</td>
            <td v-can:edit.hide="'KPI'" class="text-center align-middle" width="10%">
              <a v-can:edit.hide="'KPI'" class="pointer m-r-10">
                <i class="ti-pencil-alt text-success" title="Sửa" v-on:click="editKpi(kpi)"></i>
              </a>
              <a v-can:delete.hide="'KPI'" class="pointer m-r-10" v-on:click="deleteKpi(kpi)" title="Xóa">
                <i class="ti-close text-danger"></i>
              </a>
              <router-link v-if="!kpi.init" :to="'/kpi/init/'+kpi.id" v-can:edit.hide="'KPI'">
                <i class="ti-plus text-warning" title="Khởi Tạo KPI"></i>
              </router-link>
              <router-link v-else :to="'/kpi/edit/'+kpi.id" v-can:edit.hide="'KPI'">
                <i class="ti-reload text-primary" title="Khởi Tạo Lại KPI"></i>
              </router-link>
            </td>
          </tr>
        </tbody>
      </table>
      <nav>
        <pagination :paginate="kpiList"></pagination>
      </nav>
    </div>
  </div>
</template>

<script>
import Templates from "./template";
import Pagination from '../../global/ViasPagination.vue';
import Form from "../../global/Form";
export default {
  name: "KPI",
  icon: "ti-agenda",
  data() {
    return {
      search_key: '',
      search_department: '',
      createItem: new Form({
        kpi_code: '',
        kpi_name: '',
        kpi_owner: ''
      }),
      updateItem: new Form({
        id: '',
        kpi_code: '',
        kpi_name: '',
        kpi_owner: ''
      }),
      kpiList: new Form({
        data: [],
        total: 0,
        per_page: "",
        current_page: "",
        last_page: "",
        next_page_url: "",
        prev_page_url: "",
        from: "",
        to: "",
        loading: false
      }),
      employeeOption: new Form({
        data: []
      }),
      departmentOption: new Form({
        data: []
      }),
      deleteItem: new Form({
        id: '',
        name: ''
      }),
      editItem: new Form({
        target: [],
        label: []
      }),
      chart_type_id: 1,
      kpiItem: {
        id: 0,
        name: '',
        target: [],
        label: []
      }
    };
  },
  components: {
    // Templates,
    // "choose-chart": Create_1,
    // "create-data": Create_2,
    // Edit,
    // Confirm,
    "pagination": Pagination
      // "select2": select2
  },
  beforeMount(){
    var vm = this;
    vm.$root.startLoading();
  },
  mounted() {
    this.fetchData();
    this.fetchOption();
  },
  watch: {
    'search_key': function() {
      this.fetchData();
    },
    'search_department': function() {
      this.fetchData();
    }
  },
  methods: {
    cancelCreate: function() {
      this.createItem.reset();
    },
    clearStoreError: function(field) {
      this.createItem.errors.clear(field);
    },
    itemStore: function() {
      var vm = this;
      vm.createItem.post('/kpi/store').then(
        function(data) {
          vm.createItem.reset();
          swal({
            title: data.message,
            type: 'success',
            allowEscapeKey: false,
            allowOutsideClick: false
          }).then(function() {
            vm.fetchData();
          })
        },
        function(error) {
          swal({
            title: error.response.data.message,
            type: 'error',
            allowEscapeKey: false,
            allowOutsideClick: false
          }).then(function() {})
        });
    },
    itemSave: function() {
      var vm = this;
      vm.updateItem.post('/kpi/update').then(
        function(data) {
          vm.updateItem.reset();
          swal({
            title: data.message,
            type: 'success',
            allowEscapeKey: false,
            allowOutsideClick: false
          }).then(function() {
            $("#modal-edit-kpi").modal("hide");
            vm.fetchData();
          })
        },
        function(error) {
          swal({
            title: error.response.data.message,
            type: 'error',
            allowEscapeKey: false,
            allowOutsideClick: false
          }).then(function() {})
        });
    },
    open_create: function() {
      $("#modal-create-kpi-template").modal("show");
    },
    fetchData: function(n = 1) {
      var vm = this;
      vm.kpiList.get('/kpi/list?page=' + n + '&search_key=' + this.search_key + '&search_department=' + this.search_department).then(function() {
        vm.$root.stopLoading();
      });
    },
    fetchOption: function() {
      var vm = this;
      vm.employeeOption.get('/employees/option').then(function() {});
      vm.departmentOption.get('/department/option').then(function() {});
    },
    deleteKpi: function(item) {
      var vm = this;
      vm.deleteItem.name = item.name;
      vm.deleteItem.id = item.id;
      var message = "Bạn có thực sự muốn thực hiện tác vụ xóa KPI " + vm.deleteItem.name + " ?";
      swal({
        title: 'Yêu cầu xác nhận',
        text: message,
        type: "warning",
        showCancelButton: true,
        allowEscapeKey: false,
        allowOutsideClick: false,
        focusConfirm: false,
        cancelButtonText: 'Đóng',
        confirmButtonColor: "#f05050"
      }).then((result) => {
        if (result.value) {
          vm.deleteItem.post("/kpi/delete").then(
            function(data) {
              vm.deleteItem.reset();
              swal({
                title: data.message,
                type: 'success',
                allowEscapeKey: false,
                allowOutsideClick: false
              }).then(function() {
                vm.fetchData();
              })
            },
            function(error) {
              swal({
                title: error.response.data.message,
                type: 'error',
                allowEscapeKey: false,
                allowOutsideClick: false
              }).then(function() {})
            });
        }
      });
    },
    editKpi: function(item) {
      var vm = this;
      vm.updateItem.reset();
      vm.updateItem.id = item.id;
      vm.updateItem.kpi_name = item.name;
      vm.updateItem.kpi_code = item.code;
      vm.updateItem.kpi_owner = item.user.id;
      $("#modal-edit-kpi").modal("show");
    }
  }
};
</script>
