<template>
    <div id="modal-create-kpi-template" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm KPI - Chọn template</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="row justify-content-between m-b-30">
                            <div class="col align-self-center">
                                <p class="text-muted font-13 m-0">Chọn mẫu có sẵn dưới đây để khởi tạo KPI hoặc chọn "tạo mới" nếu danh sách phía dưới không có KPI bạn muốn</p>
                            </div>
                            <div class="col-auto align-self-center">
                                <router-link :to="'/kpi/init'" type="button" class="btn btn-default waves-effect waves-light align-self-center" data-dismiss="modal" aria-hidden="true">Tạo mới</router-link>
                            </div>
                        </div>
                        <div class="border">
                            <ul class="list-unstyled choose-template">
                                <li>
                                    <router-link :to="'/kpi/create'" data-dismiss="modal">Tổng số nhân viên nghỉ việc theo từng bộ phận</router-link>
                                </li>
                                <li>
                                    <router-link :to="'/kpi/create'" data-dismiss="modal">Chi phí sử dụng giấy các phòng ban</router-link>
                                </li>
                                <li>
                                    <router-link :to="'/kpi/create'" data-dismiss="modal">Chỉ số sử dụng điện</router-link>
                                </li>
                                <li>
                                    <router-link :to="'/kpi/create'" data-dismiss="modal">Chỉ số sử dụng nước</router-link>
                                </li>
                                <li>
                                    <router-link :to="'/kpi/create'" data-dismiss="modal">Nhân viên nghỉ việc</router-link>
                                </li>
                                <li>
                                    <router-link :to="'/kpi/create'" data-dismiss="modal">Biểu đồ số lỗi / dòng sản phẩm</router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>
<script>
export default {
    methods: {}
};
</script>