.dashboard-pg a.router-link-exact-active .card-box{
    border: 1px solid rgba(2, 183, 0, 0.44);
    background: #c8ff044f;
}

.custom-for-dashboard.table td, .table th {
	vertical-align: middle!important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}

.custom-for-dashboard.table .form-control {
	padding: unset!important;
}

.custom-for-dashboard.div-item {
	border: solid 1px #ff0000;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.custom-for-dashboard-report-current-cell{
	background: lightblue!important;
	/*border: solid 1px #81c868;
    box-shadow: 0 0 5px #81c868;*/
}

.custom-for-dashboard-report-current-cell p{
	color: #fff!important;
	/*border: solid 1px #81c868;
    box-shadow: 0 0 5px #81c868;*/
}

.custom-for-dashboard.table input{
	text-align: center;
}

.custom-for-dashboard-report-table-title{
	background: bisque;
}

.custom-for-dashboard-report-table-title td{
	color: #797979!important;
	font-weight: bold;
}