<template>
    <div class="row">
        <div class="col-md-6" v-for="(item, index) in chart_data" :key="index">
            <div class="card-box">
                <canvas :id="item.id" height="200"></canvas>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "Dashboard",
  viewName: "Graph View",
  icon: "ti-bar-chart",
  bg: "bg-custom",
  data() {
    return {
      chart_data: this.$root.myData.kpis
    };
  },
  mounted() {
    var bar = [];
    var bar_stacked = [];
    var pie = [];
    var line = [];
    var combo = [];
    var radar = [];
    for (let i = 0; i < this.chart_data.length; i++) {
      if (this.chart_data[i].chart.type == "bar") {
        bar.push(this.chart_data[i]);
      }
      if (this.chart_data[i].chart.type == "pie") {
        pie.push(this.chart_data[i]);
      }
      if (this.chart_data[i].chart.type == "bar-stacked") {
        bar_stacked.push(this.chart_data[i]);
      }
      if (this.chart_data[i].chart.type == "line") {
        line.push(this.chart_data[i]);
      }
      if (this.chart_data[i].chart.type == "combo") {
        combo.push(this.chart_data[i]);
      }
      if (this.chart_data[i].chart.type == "radar") {
        radar.push(this.chart_data[i]);
      }
    }
    $.each(bar, function(index, val) {
      let bar_data = {
        labels: val.chart.label,
        datasets: [
          val.chart.object_1,
          val.chart.object_2,
          val.chart.object_3,
          val.chart.object_4
        ]
      };
      let bar_e = $("#" + val.id);
      let bar_chart = new Chart(bar_e, {
        type: "bar",
        data: bar_data,
        options: {
          title: {
            display: true,
            text: val.name
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                }
              }
            ]
          }
        }
      });
    });
    $.each(bar_stacked, function(index, val) {
      let bar_data = {
        labels: val.chart.label,
        datasets: [
          val.chart.object_1,
          val.chart.object_2,
          val.chart.object_3,
          val.chart.object_4
        ]
      };
      let bar_e = $("#" + val.id);
      let bar_chart = new Chart(bar_e, {
        type: "bar",
        data: bar_data,
        options: {
          title: {
            display: true,
            text: val.name
          },
          scales: {
            xAxes: [
              {
                stacked: true
              }
            ],
            yAxes: [
              {
                ticks: {
                  beginAtZero: true
                },
                stacked: true
              }
            ]
          }
        }
      });
    });
    $.each(pie, function(index, val) {
      let pie_data = {
        labels: val.chart.label,
        datasets: [val.chart.object]
      };
      let pie_e = $("#" + val.id);
      let pie_chart = new Chart(pie_e, {
        type: "pie",
        data: pie_data,
        options: {
          title: {
            display: true,
            text: val.name
          }
        }
      });
    });
    $.each(line, function(index, val) {
      let line_data = {
        labels: val.chart.label,
        datasets: [
          val.chart.object_1,
          val.chart.object_2,
          val.chart.object_3,
          val.chart.object_4
        ]
      };
      let line_e = $("#" + val.id);
      let line_chart = new Chart(line_e, {
        type: "line",
        data: line_data,
        options: {
          title: {
            display: true,
            text: val.name
          },
          scales: {
            yAxes: [
              {
                stacked: true
              }
            ]
          }
        }
      });
    });
    $.each(combo, function(index, val) {
      let combo_data = {
        labels: val.chart.label,
        datasets: [val.chart.object_1, val.chart.object_2]
      };
      let combo_e = $("#" + val.id);
      let combo_chart = new Chart(combo_e, {
        type: "bar",
        data: combo_data,
        options: {
          title: {
            display: true,
            text: val.name
          },
          scales: {
            yAxes: [
              {
                stacked: true
              }
            ]
          }
        }
      });
    });
    $.each(radar, function(index, val) {
      let radar_data = {
        labels: val.chart.label,
        datasets: [val.chart.object_1, val.chart.object_2]
      };
      let radar_e = $("#" + val.id);
      let radar_chart = new Chart(radar_e, {
        type: "radar",
        data: radar_data,
        options: {
          title: {
            display: true,
            text: val.name
          },
          percentageInnerCutout: 5
        }
      });
    });
  }
};
</script>

