<template>
    <div class="card-box">
      <div class="row">
        <div class="clearfix col-md-3"></div>
        <div class="col-md-3">
          <p class="text-center font-bold border-bottom p-b-10">Spot month</p>
          <div class="row">
            <div class="col text-center">
              <p class="font-bold">Target</p>              
            </div>
            <div class="col text-center">
              <p class="font-bold">Current</p>              
            </div>
            <div class="col text-center">
              <p class="font-bold">Progress</p>              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <p class="text-center font-bold border-bottom p-b-10">Up to date</p>
          <div class="row">
            <div class="col text-center">
              <p class="font-bold">Target</p>              
            </div>
            <div class="col text-center">
              <p class="font-bold">Current</p>              
            </div>
            <div class="col text-center">
              <p class="font-bold">Progress</p>              
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <p class="text-center font-bold">Performance graph</p>
        </div>
      </div>
      <div class="border-bottom p-b-10 m-b-15" v-for="(item, index) in data" :key="index">
        <div class="row">
            <div class="col-md-3 align-self-center">
              <a href="javascript:void(0);" data-toggle="modal" data-target="#modal-view">{{item.name}}</a>
            </div>
            <div class="col-md-3 align-self-center">
              <div class="row">
                <div class="col text-center align-self-center">
                  <p class="m-0">4300</p>
                </div>
                <div class="col border-left border-right text-center align-self-center">
                  <p class="m-0">4892</p>
                </div>
                <div class="col text-center align-self-center">
                    <div class="progress progress-lg m-b-0">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            130%
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 align-self-center">
              <div class="row">
                <div class="col text-center align-self-center">
                  <p class="m-0">4300</p>
                </div>
                <div class="col border-left border-right text-center align-self-center">
                  <p class="m-0">3500</p>
                </div>
                <div class="col text-center align-self-center">
                    <div class="progress progress-lg m-b-0">
                      <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                          60%
                      </div>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 align-self-center">  
                <canvas :id="item.id" height="100"></canvas>
            </div>
          </div>
      </div>

      <!-- view when click to name of KPI -->
      <view-table/>
    </div>
</template>

<script>
import View from "./view-table";
export default {
  name: "Dashboard",
  viewName: "Grid View",
  icon: "ti-menu-alt",
  bg: "bg-info",
  data() {
    return {
      data: this.$root.myData.kpis
    };
  },
  components: {
    "view-table": View
  },
  mounted() {
    var bar = [];
    var bar_stacked = [];
    var pie = [];
    var line = [];
    var combo = [];
    var radar = [];
    for (let i = 0; i < this.data.length; i++) {
      if (this.data[i].chart.type == "bar") {
        bar.push(this.data[i]);
      }
      if (this.data[i].chart.type == "pie") {
        pie.push(this.data[i]);
      }
      if (this.data[i].chart.type == "bar-stacked") {
        bar_stacked.push(this.data[i]);
      }
      if (this.data[i].chart.type == "line") {
        line.push(this.data[i]);
      }
      if (this.data[i].chart.type == "combo") {
        combo.push(this.data[i]);
      }
      if (this.data[i].chart.type == "radar") {
        radar.push(this.data[i]);
      }
    }
    $.each(bar, function(index, val) {
      let bar_data = {
        labels: val.chart.label,
        datasets: [
          val.chart.object_1,
          val.chart.object_2,
          val.chart.object_3,
          val.chart.object_4
        ]
      };
      let bar_e = $("#" + val.id);
      let bar_chart = new Chart(bar_e, {
        type: "bar",
        data: bar_data,
        options: {
          title: {
            display: false
          },
          legend: {
            display: false
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  display: false
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  display: false
                }
              }
            ]
          }
        }
      });
    });
    $.each(bar_stacked, function(index, val) {
      let bar_data = {
        labels: val.chart.label,
        datasets: [
          val.chart.object_1,
          val.chart.object_2,
          val.chart.object_3,
          val.chart.object_4
        ]
      };
      let bar_e = $("#" + val.id);
      let bar_chart = new Chart(bar_e, {
        type: "bar",
        data: bar_data,
        options: {
          title: {
            display: false
          },
          legend: {
            display: false
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  beginAtZero: true,
                  display: false
                },
                stacked: true
              }
            ],
            xAxes: [
              {
                ticks: {
                  display: false
                },
                stacked: true
              }
            ]
          }
        }
      });
    });
    $.each(pie, function(index, val) {
      let pie_data = {
        labels: val.chart.label,
        datasets: [val.chart.object]
      };
      let pie_e = $("#" + val.id);
      let pie_chart = new Chart(pie_e, {
        type: "pie",
        data: pie_data,
        options: {
          title: {
            display: false
          },
          legend: {
            display: false
          },
          scales: {
            yAxes: [
              {
                display: false
              }
            ],
            xAxes: [
              {
                display: false
              }
            ]
          }
        }
      });
    });
    $.each(line, function(index, val) {
      let line_data = {
        labels: val.chart.label,
        datasets: [
          val.chart.object_1,
          val.chart.object_2,
          val.chart.object_3,
          val.chart.object_4
        ]
      };
      let line_e = $("#" + val.id);
      let line_chart = new Chart(line_e, {
        type: "line",
        data: line_data,
        options: {
          title: {
            display: false
          },
          legend: {
            display: false
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  display: false
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  display: false
                }
              }
            ]
          }
        }
      });
    });
    $.each(combo, function(index, val) {
      let combo_data = {
        labels: val.chart.label,
        datasets: [val.chart.object_1, val.chart.object_2]
      };
      let combo_e = $("#" + val.id);
      let combo_chart = new Chart(combo_e, {
        type: "bar",
        data: combo_data,
        options: {
          title: {
            display: false
          },
          legend: {
            display: false
          },
          scales: {
            yAxes: [
              {
                ticks: {
                  display: false
                }
              }
            ],
            xAxes: [
              {
                ticks: {
                  display: false
                }
              }
            ]
          }
        }
      });
    });
    $.each(radar, function(index, val) {
      let radar_data = {
        labels: val.chart.label,
        datasets: [val.chart.object_1, val.chart.object_2]
      };
      let radar_e = $("#" + val.id);
      let radar_chart = new Chart(radar_e, {
        type: "radar",
        data: radar_data,
        options: {
          title: {
            display: false
          },
          legend: {
            display: false
          },
          percentageInnerCutout: 5,
          scales: {
            ticks: {
              display: false
            },
            pointLabels: {
              callback: function(pointLabel, index, labels) {
                return " ";
              }
            }
          }
        }
      });
    });
  }
};
</script>

