<template>
    <div id="modal-setting-dashboard" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Setting Dashboard</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="border-bottom p-b-10 m-b-20">
                            <p class="font-13 text-muted">Danh sách KPI đã chọn</p>
                            <div class="row m-0">
                                <a href="javascript:void(0);" class="label label-default text-light m-r-5">
                                    KPI 1
                                </a>
                            </div>
                        </div>
                        <div>
                            <p class="font-13 text-muted">Danh sách KPI chưa chọn</p>
                            <div class="input-group mb-2">
                                <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search KPI...">
                                <div class="input-group-prepend">
                                    <div class="input-group-text border-0">
                                        <i class="ti-search"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-0">
                                <a href="javascript:void(0);" class="label label-default text-light m-r-5 m-b-5" v-for="(item, index) in kpis" :key="index">
                                    {{item.name}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-success waves-effect waves-light">Xác nhận</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
  data() {
    return {
      kpis: this.$root.myData.kpis
    };
  }
};
</script>

