<template>
    <div class="row">
      <div class="col-md-4">
        <div class="card-box">
          <div id='myChart'></div>
          <p class="text-center">Mã KPI - Tên KPI</p>
        </div>
      </div>
    </div>
</template>

<script>
export default {
  name: "Dashboard",
  viewName: "Quick View",
  icon: "ti-dashboard",
  bg: "bg-danger",
  mounted() {
    var myConfig = {
      type: "gauge",
      globals: {
        fontSize: 13
      },
      plotarea: {
        top: 0,
        bottom: 0,
        marginBotton: 0
      },
      plot: {
        size: "100%",
        valueBox: {
          placement: "center",
          text: "%v", //default
          fontSize: 13,
          rules: [
            {
              rule: "%v >= 700",
              text: "%v<br>Pass"
            },
            {
              rule: "%v <  700",
              text: "%v<br>Not pass"
            }
          ]
        }
      },
      tooltip: {
        borderRadius: 5
      },
      scaleR: {
        aperture: 180,
        minValue: 300,
        maxValue: 850,
        step: 50,
        center: {
          visible: false
        },
        tick: {
          visible: false
        },
        item: {
          offsetR: 0,
          rules: [
            {
              rule: "%i == 9",
              offsetX: 0
            }
          ]
        },
        labels: [
          "300",
          "850"
        ],
        ring: {
          size: 30,
          rules: [
            {
              rule: "%v < 700",
              backgroundColor: "#E53935"
            },
            {
              rule: "%v >= 700",
              backgroundColor: "#29B6F6"
            }
          ]
        }
      },
      series: [
        {
          values: [755], // starting value
          backgroundColor: "black",
          indicator: [5, 5, 5, 5, 0.75],
          animation: {
            effect: 2,
            method: 1,
            sequence: 4,
            speed: 900
          }
        }
      ]
    };

    zingchart.render({
      id: "myChart",
      data: myConfig,
      height: 200,
      width: "100%"
    });
  }
};
</script>

<style>
#myChart {
  height:100%;
  width:100%;
  min-height:150px;
}
.zc-ref {
  display: none;
}
</style>


