<template>
    <div id="modal-view" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tên KPI</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th v-for="(item, index) in frequency[0]" :key="index" class="text-center">{{item}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- show target of kpi -->
                                    <td class="text-muted">Mục tiêu</td>
                                    <td class="text-muted text-center" v-for="(item, index) in target" :key="index">
                                        {{target[index]}}
                                    </td>
                                </tr>
                                <tr v-for="(item, index) in current" :key="index">
                                    <td>{{item.object}}</td>
                                    <td v-for="(i, index) in item.data" :key="index" class="text-center">
                                        <p>{{i}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
  data() {
    return {
      kpi: this.$root.myData.kpis[0],
      frequency: this.$root.myData.frequency,
      target: this.$root.myData.kpis[0].target,
      current: this.$root.myData.kpis[0].current
    };
  }
};
</script>
