<template>
  <div id="app">
        <div id="wrapper">
          <top-menu/>
          <left-menu/>
          <div class="content-page">
            <div class="content dash-content">
              <div class="container-fluid dash-container-fluid">
                <!-- Page-Title -->
<!--                 <div class="row m-b-30">
                    <div class="col-sm-12">
                        <h4 class="page-title">{{this.$route.name}}</h4>
                    </div>
                </div> -->
                <router-view/>
              </div>
            </div>
            <!-- <footer class="footer text-right">
                &copy; 2018. All rights reserved.
            </footer> -->
          </div>
        </div>
  </div>
</template>

<script>
import TopMenu from "./components/menu/top-menu";
import LeftMenu from "./components/menu/left-menu";
export default {
  name: "App",
  components: {
    TopMenu,
    LeftMenu
  }
};
</script>
