<template>
    <div id="modal-create-department" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm phòng ban</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="" v-on:submit.prevent="itemStore">
                    <div class="modal-body">
                        <div class="form-group" :class="{'has-error': itemCreate.hasError('name')}">
                            <label for="">Tên phòng ban</label>
                            <input v-model="itemCreate.name" type="text" class="form-control" placeholder="VD: Phòng nhân sự, phòng kế toán,...">
                            <div class="text-danger" v-if="itemCreate.hasError('name')">{{itemCreate.showError('name')}}</div>
                        </div>
                        <div class="form-group" :class="{'has-error': itemCreate.hasError('short_name')}">
                            <label for="">Tên rút gọn</label>
                            <input v-model="itemCreate.short_name" type="text" class="form-control" placeholder="VD: HR, TD,...">
                            <div class="text-danger" v-if="itemCreate.hasError('short_name')">{{itemCreate.showError('short_name')}}</div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Thêm</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>
<script>
import Form from "../../global/Form";
export default {
    data() {
            return {
                itemCreate: new Form({
                    name: '',
                    short_name: ''
                }),
                
            }
        },
        methods: {
            itemStore: function() {
                var vm = this;
                console.log(vm.itemCreate);
                vm.itemCreate.post('/department/store').then(
                    function(data) {
                        $('#modal-create-department').modal('hide');
                        vm.itemCreate.reset();
                        swal({
                            title: data.message,
                            type: 'success',
                        }, function() {
                            vm.fetchData();
                        })
                    });
            },
            fetchData: function(n = 1) {
                this.$parent.fetchData(n);
            }
        }
};
</script>