<template>
    <div class="card-box" v-can:list.hide="'Department'">
        <!-- Search and create button -->
        <div class="row justify-content-between m-b-20">
            <div class="col-auto">
                <div class="input-group search-table">
                    <input type="text" class="form-control" v-model="search_key" placeholder="Tìm tên phòng ban">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="ti-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-center">
                <button  v-can:create.hide="'Department'" type="button" class="btn btn-default waves-effect waves-light" @click="open_create">Thêm phòng ban</button>
            </div>
            <create/>
        </div>
        <div class="responsive-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên phòng ban</th>
                        <th>Số nhân viên</th>
                        <th>Số KPI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(depart, index) in departmentsList.data" :key="index">
                        <td>{{depart.name}}</td>
                        <td>{{depart.amount_worker}}</td>
                        <td>{{depart.amount_kpi}}</td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <pagination :paginate="departmentsList"></pagination>
            </nav>
        </div>
    </div>
    </div>
</template>
<script>
import Create from "./create";
import Pagination from '../../global/ViasPagination.vue';
import Form from "../../global/Form";
export default {
    name: "Department",
    icon: "ti-briefcase",
    data() {
        return {
            // departments: this.$root.myData.departments,
            search_key: '',
            departmentsList: new Form({
                data: [],
                total: 0,
                per_page: "",
                current_page: "",
                last_page: "",
                next_page_url: "",
                prev_page_url: "",
                from: "",
                to: "",
                loading: false
            }),
        };
    },
    components: {
        Create,
        "pagination": Pagination
    },
     watch: {
        'search_key': function() {
            this.fetchData();
        }
    },
    mounted() {
        this.fetchData();
    },
    methods: {
        open_create: function() {
            $("#modal-create-department").modal("show");
        },
        fetchData: function(n = 1) {
            var vm = this;
            vm.departmentsList.get('/department/list?page=' + n+ '&search_key=' + this.search_key).then(function() {});
        }
    }
};
</script>