<template>
    <div id="modal-create-kpi-create-2" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo KPI - Tạo bảng dữ liệu</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="row scroll-info">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="">Tên KPI</label>
                                    <input type="text" class="form-control" placeholder="VD: Tổng số nhân viên nghỉ việc theo từng bộ phận" required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-auto align-self-center">
                                        <label for="" class="m-0">ĐVT</label>
                                    </div>
                                    <div class="col align-self-center p-0">
                                        <input type="text" class="form-control" placeholder="VD: kWh, người,...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-auto align-self-center">
                                        <label for="" class="m-0">Kiểu DL</label>
                                    </div>
                                    <div class="col align-self-center p-0">
                                        <select class="form-control">
                                            <option value="" selected disabled>Chọn kiểu dữ liệu</option>
                                            <option value="">Kiểu số</option>
                                            <option value="">Kiểu %</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row">
                                    <div class="col-auto align-self-center">
                                        <label for="" class="m-0">Trend</label>
                                    </div>
                                    <div class="col align-self-center p-l-0">
                                        <select class="form-control">
                                            <option value="" selected disabled>Chọn trend</option>
                                            <option value="">3 tháng</option>
                                            <option value="">6 tháng</option>
                                            <option value="">9 tháng</option>
                                            <option value="">12 tháng</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 m-t-15">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="frequency">
                                                <th class="choose">
                                                    <select class="form-control" @change="choose_frequency">
                                                        <option value="0" selected>Theo tháng</option>
                                                        <option value="1">Theo quý</option>
                                                    </select>
                                                </th>
                                                 <th v-for="(item, index) in frequency_type" :key="index">{{item}}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="target">
                                                <td class="font-bold">Mục tiêu</td>
                                                <td v-for="(item, index) in frequency_type" :key="index">
                                                    <input type="number" class="form-control" required>
                                                </td>
                                            </tr>
                                            <tr class="object">
                                                <td>
                                                    <input type="text" class="form-control" required>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-success waves-effect waves-light" @click="add_object">Thêm đối tượng</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" data-target="#modal-create-kpi-confirm" data-toggle="modal">Tạo</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
  data() {
    return {
      frequency: this.$root.myData.frequency,
      frequency_type: this.$root.myData.frequency[0]
    };
  },
  mounted() {
    $(".scroll-info").slimScroll({
      height: "380px"
    });
  },
  methods: {
    choose_frequency: function(e) {
      if ($(e.currentTarget).val() == "0") {
        this.frequency_type = this.frequency[0];
      } else if ($(e.currentTarget).val() == "1") {
        this.frequency_type = this.frequency[1];
      }
    },
    add_object: function() {
      var object = $(".object").html();
      let table_1 = $("#modal-create-kpi-create-2 table tbody");
      $(table_1).append('<tr class="object">' + object + "</tr>");
      let d = $(".scroll-info");
      d.scrollTop(d.prop("scrollHeight"));
    }
  }
};
</script>