<template>
    <!-- select type of chart -->
    <div id="modal-create-kpi-create-1" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tạo KPI - Chọn kiểu chart</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="type-chart row">
                            <div class="col-md-4">
                                <input type="radio" name="type-chart" id="type-bar">
                                <label for="type-bar">
                                    <img src="../../assets/images/chart/chart-bar.png" alt="" >
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="type-chart" id="type-bar-stacked">
                                <label for="type-bar-stacked">
                                    <img src="../../assets/images/chart/chart-stacked.png" alt="" >
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="type-chart" id="type-line">
                                <label for="type-line">
                                    <img src="../../assets/images/chart/chart-line.png" alt="" >
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="type-chart" id="type-pie">
                                <label for="type-pie">
                                    <img src="../../assets/images/chart/chart-pie.png" alt="" >
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="type-chart" id="type-combo">
                                <label for="type-combo">
                                    <img src="../../assets/images/chart/chart-combo.png" alt="" >
                                </label>
                            </div>
                            <div class="col-md-4">
                                <input type="radio" name="type-chart" id="type-radar">
                                <label for="type-radar">
                                    <img src="../../assets/images/chart/chart-radar.png" alt="" >
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="button" class="btn btn-primary waves-effect waves-light" data-dismiss="modal" data-target="#modal-create-kpi-create-2" data-toggle="modal">Tiếp theo</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>


<script>
export default {};
</script>

