<template>
    <div id="modal-create-kpi-edit" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Sửa KPI - Tên KPI</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-nowrap" v-for="(item, index) in data" :key="index">
                                        {{item}}
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-nowrap" v-for="(item, index) in target" :key="index">
                                            <p v-show="item.status == true">{{item.value}}</p>
                                            <input type="text" v-show="item.status == false" v-model="item.value" class="form-control">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Lưu</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
  data() {
    return {
      data: this.$root.myData.frequency[0],
      target: [
        {
          status: true,
          value: 12
        },
        {
          status: true,
          value: 46
        },
        {
          status: true,
          value: 23
        },
        {
          status: true,
          value: 65
        },
        {
          status: false,
          value: 23
        },
        {
          status: false,
          value: 76
        },
        {
          status: false,
          value: 34
        },
        {
          status: false,
          value: 86
        },
        {
          status: false,
          value: 22
        },
        {
          status: false,
          value: 46
        },
        {
          status: false,
          value: 35
        },
        {
          status: false,
          value: 78
        }
      ]
    };
  }
};
</script>