<template>
    <div class="card-box">
        <!-- Search and create button -->
        <div class="row justify-content-between m-b-20">
            <div class="col-auto">
                <div class="input-group search-table">
                    <input type="text" class="form-control" placeholder="Tìm kiếm KPI">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="ti-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-center">
                <button type="button" class="btn btn-default waves-effect waves-light" @click="open_create">Thêm KPI</button>
            </div>
            <templates/>
            <choose-chart/>
            <create-data/>
            <confirm/>
            <edit/>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-nowrap">Mã</th>
                        <th class="text-nowrap">Tên</th>
                        <th class="text-nowrap">Mô tả</th>
                        <th class="text-nowrap">Phòng ban</th>
                        <th class="text-nowrap">Người chịu trách nhiệm</th>
                        <th class="text-nowrap">Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(kpi, index) in kpis" :key="index">
                        <td class="text-nowrap">{{kpi.id}}</td>
                        <td class="text-nowrap">{{kpi.name}}</td>
                        <td>{{kpi.description}}</td>
                        <td class="text-nowrap">{{kpi.res_depart}}</td>
                        <td class="text-nowrap">{{kpi.res_per}}</td>
                        <td class="text-nowrap">
                            <a href="javascript:void(0);" class="m-r-10" data-target="#modal-create-kpi-edit" data-toggle="modal">
                                <i class="ti-pencil-alt text-success" title="Sửa"></i>
                            </a>
                            <a href="javascript:void(0);" title="Xóa">
                                <i class="ti-close text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination pagination-split justify-content-center m-t-40">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import Templates from "./template";
import Create_1 from "./create-1";
import Create_2 from "./create-2";
import Edit from "./edit";
import Confirm from "./confirm";

export default {
  name: "KPI",
  icon: "ti-agenda",
  data() {
    return {
      kpis: this.$root.myData.kpi
    };
  },
  components: {
    Templates,
    "choose-chart": Create_1,
    "create-data": Create_2,
    Edit,
    Confirm
  },
  methods: {
    open_create: function() {
      $("#modal-create-kpi-template").modal("show");
    }
  }
};
</script>