<template>
     <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">
            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    <li class="text-muted menu-title">Menu</li>
                    <li v-for="(item, index) in menu" :key="index">
                        <router-link :to="item.path" class="waves-effect" exact>
                            <i :class="item.icon"></i> 
                            <span> {{item.name}} </span>
                        </router-link>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Left Sidebar End -->
</template>

<script>
export default {
  data() {
    return {
      menu: this.$root.myData.menu
    };
  }
};
</script>

