<template>
  <div class="card-box" v-can:list.hide="'Company'">
    <!-- Search and create button -->
    <div class="row justify-content-between m-b-20">
      <div class="col-auto">
        <div class="input-group search-table">
          <input type="text" class="form-control" v-model="search_key" placeholder="Tìm tên, tên viết tắt">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="ti-search"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="alert alert-danger" v-if="createItem.anyError()">
      <div v-if="createItem.hasError('company_name')" v-html="createItem.showError('company_name')"></div>
      <div v-if="createItem.hasError('company_short_name')" v-html="createItem.showError('company_short_name')"></div>
      <div v-if="createItem.hasError('company_location')" v-html="createItem.showError('company_location')"></div>
      <div v-if="createItem.hasError('admin_id')" v-html="createItem.showError('admin_id')"></div>
      <div v-if="createItem.hasError('admin_name')" v-html="createItem.showError('admin_name')"></div>
    </div>
    <div class="responsive-table">
      <table class="table">
        <thead>
          <tr>
            <th class="text-center">Tên Công Ty</th>
            <th class="text-center">Tên Viết Tắt</th>
            <th class="text-center">Vị Trí</th>
            <th class="text-center">ID Admin</th>
            <th class="text-center">Họ Tên Admin</th>
            <th class="text-center" width="10%">Tác Vụ</th>
          </tr>
        </thead>
        <tbody>
          <tr v-can:alone.hide="'IsSuperAdmin'">
            <td class="form-group" :class="{'has-error': createItem.hasError('company_name')}">
              <input v-model="createItem.company_name" placeholder="Nhập Tên Công Ty" class="form-control" v-on:focus="clearStoreError('company_name')">
            </td>
            <td class="form-group" :class="{'has-error': createItem.hasError('company_short_name')}">
              <input v-model="createItem.company_short_name" placeholder="Nhập Tên Viết Tắt" class="form-control" v-on:focus="clearStoreError('company_short_name')">
            </td>
            <td class="form-group" :class="{'has-error': createItem.hasError('company_location')}">
              <select v-model="createItem.company_location" class="form-control" v-on:change="clearStoreError('company_location')">
                <option value="" selected disabled>Vị Trí...</option>
                <option v-for="location in locationOption.data" :value="location.id">
                  {{location.name}}
                </option>
              </select>
            </td>
            <td class="form-group" :class="{'has-error': createItem.hasError('admin_id')}">
              <input v-model="createItem.admin_id" placeholder="Nhập ID Admin" class="form-control" v-on:focus="clearStoreError('admin_id')">
            </td>
            <td class="form-group" :class="{'has-error': createItem.hasError('admin_name')}">
              <input v-model="createItem.admin_name" placeholder="Nhập Họ Tên Admin" class="form-control" v-on:focus="clearStoreError('admin_name')">
            </td>
            <td class="text-center align-middle" width="10%">
              <a class="pointer m-r-10">
                <i class="ti-check text-success" title="Lưu" v-on:click="itemStore"></i>
              </a>
              <a class="pointer" title="Hủy" v-on:click="cancelCreate">
                <i class="ti-close text-danger"></i>
              </a>
            </td>
          </tr>
          <tr v-for="(company, index) in companysList.data" :key="index">
            <td>{{company.name}}</td>
            <td>{{company.short_name}}</td>
            <td>{{company.location_name}}</td>
            <td>{{company.admin.code}}</td>
            <td>{{company.admin.name}}</td>
            <td class="text-center" width="10%">
              <a class="pointer m-r-10">
                <i class="ti-pencil-alt text-success" title="Sửa" v-on:click="editCompany(company)"></i>
              </a>
              <a class="pointer" title="Xóa" v-on:click="deleteCompany(company)">
                <i class="ti-close text-danger"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <nav>
        <pagination :paginate="companysList"></pagination>
      </nav>
    </div>
    <div id="modal-edit-company" class="modal fade" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Cập Nhật Thông Tin Công Ty</h4>
          </div>
          <div class="alert alert-danger" v-if="updateItem.anyError()">
            <div v-if="updateItem.hasError('company_name')" v-html="updateItem.showError('company_name')"></div>
            <div v-if="updateItem.hasError('company_short_name')" v-html="updateItem.showError('company_short_name')"></div>
            <div v-if="updateItem.hasError('company_location')" v-html="updateItem.showError('company_location')"></div>
            <div v-if="updateItem.hasError('admin_id')" v-html="updateItem.showError('admin_id')"></div>
            <div v-if="updateItem.hasError('admin_name')" v-html="updateItem.showError('admin_name')"></div>
            <div v-if="updateItem.hasError('password')" v-html="updateItem.showError('password')"></div>
          </div>
          <form action="" v-on:submit.prevent="itemSave">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" :class="{'has-error': updateItem.hasError('company_name')}">
                    <label for="">Tên Công Ty</label>
                    <input placeholder="Nhập Tên Công Ty" v-model="updateItem.company_name" class="form-control" v-on:focus="clearUpdateError('company_name')">
                  </div>
                  <div class="form-group" :class="{'has-error': updateItem.hasError('company_short_name')}">
                    <label for="">Tên Viết Tắt</label>
                    <input placeholder="Nhập Tên Viết Tắt" v-model="updateItem.company_short_name" class="form-control" v-on:focus="clearUpdateError('company_short_name')">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" :class="{'has-error': updateItem.hasError('company_location')}">
                    <label for="">Vị Trí</label>
                    <select class="select2 form-control" v-model="updateItem.company_location" v-on:focus="clearUpdateError('company_location')">
                      <option value="" selected disabled>Chọn Vị Trí</option>
                      <option v-for="location in locationOption.data" :value="location.id">
                        {{location.name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group" :class="{'has-error': updateItem.hasError('admin_id')}">
                    <label for="">ID Admin</label>
                    <input placeholder="Nhập ID Admin" v-model="updateItem.admin_id" class="form-control" v-on:focus="clearUpdateError('admin_id')">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" :class="{'has-error': updateItem.hasError('admin_name')}">
                    <label for="">Tên Admin</label>
                    <input placeholder="Nhập Họ Tên Admin" v-model="updateItem.admin_name" class="form-control" v-on:focus="clearUpdateError('admin_name')">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="">Mật khẩu</label>
                    <div class="input-group reset-pass" :class="{'has-error': updateItem.hasError('password')}">
                      <input type="text" v-model="updateItem.password" class="form-control" disabled>
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <a class="d-block pointer" v-on:click="resetPassword">RESET</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary waves-effect" v-on:click="cancelUpdate">Hủy</button>
              <button type="submit" class="btn btn-primary waves-effect waves-light">Cập Nhật</button>
            </div>
          </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
  </div>
</template>

<script>
import Pagination from '../../global/ViasPagination.vue';
import Form from "../../global/Form";

export default {
  name: "company",
  icon: "ti-briefcase",
  data() {
    return {
      search_key: '',
      createItem: new Form({
        company_name: '',
        company_short_name: '',
        company_location: '',
        admin_id: '',
        admin_name: '',
        password: ''
      }),
      updateItem: new Form({
        id: '',
        company_name: '',
        company_short_name: '',
        company_location: '',
        admin_id: '',
        admin_name: '',
        password: ''
      }),
      companysList: new Form({
        data: [],
        total: 0,
        per_page: "",
        current_page: "",
        last_page: "",
        next_page_url: "",
        prev_page_url: "",
        from: "",
        to: "",
        loading: false
      }),
      deleteItem: new Form({
        id: '',
        name: ''
      }),
      passwordHelper: new Form({
        data: ''
      }),
      locationOption: new Form({
        data: []
      })
    };
  },
  components: {
    "pagination": Pagination,
  },
  watch: {
    'search_key': function() {
      this.fetchData();
    }
  },
  beforeMount() {
    var vm = this;
    vm.$root.startLoading();
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    itemStore: function() {
      var vm = this;
      vm.createItem.post('/company/store').then(
        function(data) {
          vm.createItem.reset();
          swal({
            title: data.message,
            type: 'success',
            allowEscapeKey: false,
            allowOutsideClick: false
          }).then(function() {
            vm.fetchData();
          })
        },
        function(error) {
          swal({
            title: error.response.data.message,
            type: 'error',
            allowEscapeKey: false,
            allowOutsideClick: false
          }).then(function() {})
        });
    },
    itemSave: function() {
      var vm = this;
      vm.updateItem.post('/company/update').then(
        function(data) {
          vm.updateItem.reset();
          swal({
            title: data.message,
            type: 'success',
            allowEscapeKey: false,
            allowOutsideClick: false
          }).then(function() {
            $("#modal-edit-company").modal("hide");
            vm.fetchData();
          })
        },
        function(error) {
          swal({
            title: error.response.data.message,
            type: 'error',
            allowEscapeKey: false,
            allowOutsideClick: false
          }).then(function() {})
        });
    },
    clearStoreError: function(field) {
      this.createItem.errors.clear(field);
    },
    clearUpdateError: function(field) {
      this.updateItem.errors.clear(field);
    },
    cancelUpdate: function() {
      $('#modal-edit-company').modal('hide');
    },
    cancelCreate: function() {
      this.createItem.reset();
    },
    fetchData: function(n = 1) {
      var vm = this;
      vm.locationOption.get('/location/select').then(function() {});
      vm.companysList.get('/company/list?page=' + n + '&search_key=' + this.search_key).then(function() {
        vm.$root.stopLoading();
      });
    },
    resetPassword: function() {
      var vm = this;
      vm.passwordHelper.get('/helper/gen-otp').then(function(data) {
        vm.updateItem.password = vm.passwordHelper.data;
        vm.clearUpdateError('password');
      });
    },
    editCompany: function(item) {
      var vm = this;
      vm.updateItem.reset();
      vm.updateItem.id = item.id;
      vm.updateItem.company_name = item.name;
      vm.updateItem.company_short_name = item.short_name;
      vm.updateItem.company_location = item.location_id;
      vm.updateItem.admin_id = item.admin.code;
      vm.updateItem.admin_name = item.admin.name;
      vm.updateItem.password = item.admin.otp;
      $("#modal-edit-company").modal("show");
    },
    deleteCompany: function(item) {
      var vm = this;
      vm.deleteItem.name = item.name;
      vm.deleteItem.id = item.id;
      var message = "Bạn có thực sự muốn thực hiện tác vụ xóa công ty " + vm.deleteItem.name + " ?";
      swal({
        title: 'Yêu cầu xác nhận',
        text: message,
        type: "warning",
        showCancelButton: true,
        showCancelButton: true,
        allowEscapeKey: false,
        allowOutsideClick: false,
        focusConfirm: false,
        cancelButtonText: 'Đóng',
        confirmButtonColor: "#f05050"
      }).then((result) => {
        if (result.value) {
          vm.deleteItem.post("/company/delete").then(
            function(data) {
              swal({
                title: data.message,
                type: 'success',
                allowEscapeKey: false,
                allowOutsideClick: false,
              }).then(function() {
                vm.fetchData();
              })
            },
            function(error) {
              swal({
                title: error.response.data.message,
                type: 'error',
                allowEscapeKey: false,
                allowOutsideClick: false
              }).then(function() {})
            });
        }
      });
    }
  }
};
</script>
