<template>
    <div class="card-box">
        <div>
            <!-- button edit for only manager -->
            <!-- when click "edit button", status on kpi changes from false to true -->
            <button type="button" class="btn btn-warning waves-effect waves-light float-right m-b-20 m-l-5" v-show="kpi.status == false" @click="edit">Sửa</button>
            <!-- button confirm for only staff -->
            <!-- When the update is complete, the staff click confirm to update, moving the status from true to false -->
            <button type="button" class="btn btn-success waves-effect waves-light float-right m-b-20" v-show="kpi.status == true" @click="confirm">Xác nhận</button>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th v-for="(item, index) in current.label" :key="index" class="text-center">{{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <!-- show target of kpi -->
                    <td class="text-muted">Mục tiêu</td>
                    <td class="text-muted text-center" v-for="(item, index) in current.target" :key="index">
                        {{item}}
                    </td>
                </tr>
                <tr v-if="sync" v-for="(item, indx) in current.rows_target" :key="'r_u_' + indx">
                    <td>{{item.object}}</td>
                    <td v-for="(i, index) in item.data" :key="'cell_u_' + index" class="text-center">
                        <p v-show="i != null">{{i}}</p>
                        <input type="number" v-show="i == null" v-model="update.rows_target[indx].data[index]" class="form-control" :disabled="kpi.status == false" required>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
import Form from "../../global/Form";

export default {
    data() {
            return {
                kpi: this.$root.myData.kpis[0],
                frequency: this.$root.myData.frequency,
                target: this.$root.myData.kpis[0].target,
                current: new Form({
                    id: 0,
                    data: [],
                    rows_target: [],
                    target: [],
                    label: []
                }),
                update: new Form({
                    id: 0,
                    rows_target: []
                }),
                sync: false
            };
        },
        mounted() {
            this.kpi.status = false;
            this.fetchCurrent();
        },
        methods: {
            edit: function() {
                this.$root.myData.kpis[0].status = true;
            },
            confirm: function() {
                this.saveCurrent();
            },
            fetchCurrent: function() {
                var vm = this;
                vm.current.get('/kpi/edit?id=' + this.$route.params.id).then(function() {
                    console.log(vm.current);
                    vm.update.id = vm.current.id;
                    vm.update.rows_target = JSON.parse(JSON.stringify(vm.current.rows_target));
                    vm.sync = true;
                });
            },
            saveCurrent: function() {
                var vm = this;
                vm.update.post('/kpi/save').then(function(data) {
                    vm.$root.myData.kpis[0].status = false;
                    swal({
                        title: data.message,
                        type: 'success',
                    }, function() {
                        vm.fetchCurrent();
                    })
                });
            }
        }
};
</script>