<template>
  <div class="row">
    <div class="col-md-12" v-for="(kpi, index) in itemList.data">
      <div v-if="kpi.init" class="col-md-12">
        <div class="card-box" style="margin-bottom: 5px!important; padding: 10px!important">
          <div class="col-md-12 m-0" style="padding-left: 0px;padding-right: 0px;">
            <label class="m-0 text-dark font-bold font-16">
              {{kpi.name}}
            </label>
            <span v-can:alone.hide="'IsGeneralinchiefStaff'">
              <button type="button" class="btn btn-outline-warning waves-effect waves-light float-right m-b-5 m-l-5" :class="{'locked-button':locked}" :disabled="locked" :title="locked?'Lưu tiến trình hiện tại trước khi tiếp tục':''" v-show="kpi.status == false" v-on:click="edit(index)">
                Sửa
              </button>
              <button type="button" class="btn btn-outline-success waves-effect waves-light float-right m-b-5" v-show="kpi.status == true" v-on:click="confirm(index)">
                Xác nhận
              </button>
            </span>
            <span v-can:alone.hide="'IsGeneralinchief'">
              <button v-show="!kpi.unlocked" :class="{'locked-button':locked}" :disabled="locked" :title="locked?'Lưu tiến trình hiện tại trước khi tiếp tục':''" type="button" class="btn btn-outline-danger waves-effect waves-light float-right m-b-5 m-l-5 m-r-5"  v-on:click="changeStatus(kpi)">Cho Phép</button>
              <button v-show="kpi.unlocked" type="button" :class="{'locked-button':locked}" :disabled="locked" :title="locked?'Lưu tiến trình hiện tại trước khi tiếp tục':''" class="btn btn-outline-primary waves-effect waves-light float-right m-b-5 m-l-5 m-r-5" v-on:click="changeStatus(kpi)">Thu Hồi Quyền Chỉnh Sửa</button>
            </span>
            <router-link :to="'/kpi/edit/' + kpi.id" role="button" aria-disabled="true" :class="{'disabled locked-button':locked}" :disabled="locked" :title="locked?'Lưu tiến trình hiện tại trước khi tiếp tục':''" class="btn btn-outline-secondary waves-effect waves-light float-right m-b-5 m-l-5 m-r-5">Khởi Tạo Lại KPI</router-link>
          </div>
          <table class="custom-for-dashboard table table-bordered">
            <thead>
              <tr>
                <th><img :src="kpi.chart_type" height="30px"></th>
                <th v-for="(item, index) in kpi.struct.label" class="text-center">{{item}}</th>
              </tr>
            </thead>
            <tbody>
              <tr class="custom-for-dashboard-report-table-title">
                <!-- show target of kpi -->
                <td class="text-muted">Mục tiêu ({{kpi.unit}})</td>
                <td class="text-muted text-center" v-for="(item, t_index) in kpi.struct.target">
                  {{item}}
                </td>
              </tr>
              <tr v-if="sync" v-for="(item, indx) in kpi.struct.rows_target" :key="'r_u_' + indx">
                <td width="20%">{{item.object}}</td>
                <td v-can:alone.hide="'IsGeneralinchiefStaff'" width="5%" v-for="(i, c_index) in item.data" class="text-center align-middle" :class="{'custom-for-dashboard-report-current-cell': c_index == kpi.current_time}">
                  <p class="m-0" v-show="(!kpi.unlocked && ((c_index != kpi.current_time) || (i != null)))||(c_index > kpi.current_time)">{{i == null? '-':i}}</p>
                  <input type="number" min="0" v-show="(kpi.unlocked && (c_index <= kpi.current_time)) || ((c_index == kpi.current_time) && (i == null))" v-model="itemListUpdate.data[index].struct.rows_target[indx].data[c_index]" class="form-control" :disabled="kpi.status == false">
                </td>
                <td v-can:alone.hide="'IsManager'" width="5%" v-for="(i, c_index) in item.data" class="text-center align-middle">
                  <p class="m-0">{{i}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div v-else class="col-md-12">
        <router-link v-can:alone.hide="'IsGeneralinchiefStaff'" :to="'/kpi/init/'+kpi.id" class="m-0 text-dark font-bold font-16">
          <div class="card-box" style="margin-bottom: 5px!important; padding: 10px!important">
            {{kpi.name}}
          </div>
        </router-link>
        <a v-can:alone.hide="'IsManager'" class="m-0 text-dark font-bold font-16">
          <div class="card-box" style="margin-bottom: 5px!important; padding: 10px!important">
            {{kpi.name}}
          </div>
        </a>
      </div>
      <!--             <div v-can:read.hide="'KPI'" class="col-md-12" v-for="(item, index) in itemList.data">
<div class="card-box" style="margin-bottom: 5px!important; padding: 10px!important">
<p class="m-0 text-dark font-bold font-16">
{{item.name}}
</p>
</div>
</div>
<div v-can:create.hide="'KPI'" class="col-md-12" v-for="(item, index) in itemList.data">
<div v-on:click="open_create" class="card-box" style="margin-bottom: 5px!important; padding: 10px!important">
<p class="m-0 text-dark font-bold font-16">
{{item.name}}
</p>
</div>
</div> -->
      <!--         <templates/>
<choose-chart v-on:typeChange="chart_type_id = $event" />
<create-data :type="chart_type_id" /> -->
    </div>
  </div>
</template>

<script>
// import Templates from "./../kpi/template";
// import Create_1 from "./../kpi/create-1";
// import Create_2 from "./../kpi/create-2";
import Form from "../../global/Form";
export default {
  name: "Report",
  icon: "ti-receipt",
  data() {
    return {
      itemList: new Form({
        data: [],
        month: -1,
        quarter: -1
      }),
      itemListUpdate: new Form({
        data: []
      }),
      update: new Form({
        id: 0,
        rows_target: []
      }),
      updateStatus: new Form({
        id: 0
      }),
      locked: false,
      sync: false,
      chart_type_id: 1
    };
  },
  components: {
    // Templates,
    // "choose-chart": Create_1,
    // // "create-data": Create_2
  },
  beforeMount() {
    var vm = this;
    vm.$root.startLoading();
  },
  mounted() {
    this.fetchData();
  },
  methods: {
    fetchData: function() {
      var vm = this;
      vm.itemList.get('/kpi/report-list').then(function() {
        vm.itemListUpdate.data = JSON.parse(JSON.stringify(vm.itemList.data));
        vm.sync = true;
        vm.$root.stopLoading();
      });
    },
    edit: function(index) {
      var vm = this;
      if (vm.locked) {} else {
        vm.locked = true;
        vm.itemList.data[index].status = true;
      }
    },
    confirm: function(index) {
      var vm = this;
      this.saveCurrent(index);
    },
    changeStatus: function(item) {
      var vm = this;
      var message = 'Bạn có thực sự muốn cấp phép chỉnh sửa KPI ' + item.name + '? <br>Dữ liệu đã lưu trước đó có thể bị chỉnh sửa!';
      if (item.unlocked) {
        var message = 'Bạn có thực sự thu hồi quyền chỉnh sửa KPI ' + item.name + '?!<br>Các giá trị đã nhập sẽ không thể chỉnh sửa!';
      };
      vm.updateStatus.id = item.id;
      swal({
        title: 'Yêu cầu xác nhận',
        html: message,
        type: "warning",
        showCancelButton: true,
        allowEscapeKey: false,
        allowOutsideClick: false,
        cancelButtonText: 'Đóng',
        confirmButtonColor: "#f05050"
      }).then((result) => {
        if (result.value) {
          vm.updateStatus.post('/kpi/unlock').then(
            function(data) {
              swal({
                title: data.message,
                type: 'success',
                allowEscapeKey: false,
                allowOutsideClick: false,
                showConfirmButton: false,
                timer: 2000
              }).then(function() {
                vm.fetchData();
              })
            },
            function(error) {
              swal({
                title: error.response.data.message,
                type: 'error',
                allowEscapeKey: false,
                allowOutsideClick: false,
                showConfirmButton: false,
                timer: 2000
              }).then(function() {})
            });
        }
      });
    },
    saveCurrent: function(index) {
      var vm = this;
      vm.update.id = vm.itemListUpdate.data[index].id;
      vm.update.rows_target = vm.itemListUpdate.data[index].struct.rows_target;
      var title = 'Bạn có thực sự muốn thực hiện tác vụ lưu?';
      var message = 'Dữ liệu sau khi lưu sẽ cần được cấp phép bởi trưởng phòng để có thể chỉnh sửa!';
      // 3 buttons:
      swalcustom({
          title: title,
          text: message,
          closeOnEsc: false,
          closeOnClickOutside: false,
          buttons: {
            submit: {
              text: "Submit",
              className: "btn btn-outline-danger"
            },
            draft: {
              text: "Save Draft",
              className: "btn btn-outline-warning"
            },
            cancel: {
              text: "Cancel",
              value: true,
              visible: true,
              className: "btn btn-outline-secondary",
              closeModal: true,
            }
          },
        })
        .then((value) => {
          switch (value) {
            case "submit":
              vm.update.post('/kpi/save').then(
                function(data) {
                  vm.locked = false;
                  vm.itemList.data[index].status = false;
                  swal({
                    title: data.message,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    timer: 2000,
                    type: 'success',
                  }).then(function() {
                    vm.fetchData();
                  })
                },
                function(error) {
                  swal({
                    title: error.response.data.message,
                    allowEscapeKey: false,
                    allowOutsideClick: false,
                    showConfirmButton: false,
                    timer: 2000,
                    type: 'error',
                  }).then(function() {})
                });
              break;
            case "draft":
              swal({
                title: "Chức năng đang được phát triển! Hiện tại chưa sẵn sàng!",
                allowEscapeKey: false,
                allowOutsideClick: false,
                showConfirmButton: false,
                timer: 2000,
                type: 'warning',
              }).then(function() {})
              break;
            default:
          }
        });
    }
  }
};
</script>
