<template>
    <div id="modal-create-department" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm phòng ban</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="">Tên phòng ban</label>
                            <input type="text" class="form-control" placeholder="VD: Phòng nhân sự, phòng kế toán,..." required>
                        </div>
                        <div class="form-group">
                            <label for="">Tên rút gọn</label>
                            <input type="text" class="form-control" placeholder="VD: HR, TD,..." required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Thêm</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {};
</script>

