<template>
    <div class="card-box">
        <!-- Search and create button -->
        <div class="row justify-content-between m-b-20">
            <div class="col-auto">
                <div class="input-group search-table">
                    <input type="text" class="form-control" placeholder="Tìm kiếm phòng ban">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="ti-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-center">
                <button type="button" class="btn btn-default waves-effect waves-light" @click="open_create">Thêm phòng ban</button>
            </div>
            <create/>
        </div>
        <div class="responsive-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Tên phòng ban</th>
                        <th>Số nhân viên</th>
                        <th>Số KPI</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(depart, index) in departments" :key="index">
                        <td>{{depart.name}}</td>
                        <td>{{depart.amount_worker}}</td>
                        <td>{{depart.amount_kpi}}</td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination pagination-split justify-content-center m-t-40">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import Create from "./create";
export default {
  name: "Department",
  icon: "ti-briefcase",
  data() {
    return {
      departments: this.$root.myData.departments
    };
  },
  components: {
    Create
  },
  methods: {
    open_create: function() {
      $("#modal-create-department").modal("show");
    }
  }
};
</script>

