<template>
    <div id="modal-create-employees" class="modal fade" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm nhân viên</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">ID</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Phòng ban</label>
                                    <select class="select2">
                                        <option value="HR">Phòng nhân sự</option>
                                        <option value="TD">Phòng kỹ thuật</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">KPI</label>
                                    <select class="select2 select2-multiple" multiple="multiple">
                                        <option value="TD000">TD001</option>
                                        <option value="TD001">TD002</option>
                                        <option value="TD002">TD003</option>
                                        <option value="TD003">TD004</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="">Họ tên</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Chức vụ</label>
                                    <select class="form-control">
                                        <option value="" selected disabled>Chọn chức vụ</option>
                                        <option value="DR">Giám đốc</option>
                                        <option value="MN">Trưởng phòng</option>
                                        <option value="ST">Nhân viên</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Thêm</button>
                    </div>
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
  data() {
    return {};
  },
  mounted() {}
};
</script>