<template>
    <div class="card-box">
        <!-- Search and create button -->
        <div class="row justify-content-between m-b-20">
            <div class="col-auto">
                <div class="input-group search-table">
                    <input type="text" class="form-control" placeholder="Tìm kiếm nhân viên">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="ti-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto align-self-center">
                <button type="button" class="btn btn-default waves-effect waves-light" @click="open_create">Thêm nhân viên</button>
            </div>
            <create/>
            <edit/>
        </div>
        <div class="responsive-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Họ tên</th>
                        <th>Phòng Ban</th>
                        <th>KPI</th>
                        <th>Tác vụ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(emp, index) in employees" :key="index">
                        <td>{{emp.id}}</td>
                        <td>{{emp.name}}</td>
                        <td>{{emp.department}}</td>
                        <td>
                            <span class="label label-default m-r-2" v-for="(item, index) in emp.kpi" :key="index">{{item}}</span>
                        </td>
                        <td>
                            <a href="javascript:void(0);" class="m-r-10">
                                <i class="ti-pencil-alt text-success" title="Sửa" @click="open_edit"></i>
                            </a>
                            <a href="javascript:void(0);" title="Xóa">
                                <i class="ti-close text-danger"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav>
                <ul class="pagination pagination-split justify-content-center m-t-40">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">5</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</template>

<script>
import Create from "./create";
import Edit from "./edit";

export default {
  name: "Employees",
  icon: "ti-user",
  data() {
    return {
      employees: this.$root.myData.employees
    };
  },
  components: {
    Create,
    Edit
  },
  methods: {
    open_create: function() {
      $("#modal-create-employees").modal("show");
      $(".select2").select2({
        dropdownParent: $("#modal-create-employees")
      });
    },
    open_edit: function() {
      $("#modal-edit-employees").modal("show");
      $(".select2").select2({
        dropdownParent: $("#modal-edit-employees")
      });
    }
  }
};
</script>

