<template>
    <select v-on:click="d()">
        <slot></slot>
    </select>
</template>
<script>
export default {
    props: ['options', 'value', 'defaults', 'callback'],
    mounted: function() {
        var vm = this
        $(this.$el)
            //.val(this.value)
            // init select2
            .select2(this.options)
            // emit event on change.
            .on('change', function() {
                vm.$emit('input', $(this).val())
            })
    },
    watch: {
        value: function(value) {
            // update value
            $(this.$el).val(value).trigger('change.select2')
        },
        defaults: function(value) {
            for (let i = 0; i < value.length; i++) {
                var data = value[i];
                if ($(this.$el).find("option[value='" + data.id + "']").length) {
                    $(this.$el).val(data.id).trigger('change.select2');
                } else {
                    var newOption = new Option(data.text, data.id, false, true);
                    console.log(newOption);
                    $(this.$el).append(newOption).trigger('change.select2');
                }
                // update value
                $(this.$el).val(this.value).trigger('change.select2');
            }
        }
    },
    destroyed: function() {
        $(this.$el).off().select2('destroy')
    },
    created() {
        this.d();
    },
    methods: {
        d: function() {
            if (typeof this.callback === "function") {
                this.callback();
            } else {
                console.log('[Vias] To use vue select2 callback please define :callback="callback" to catch select2 value!');
            };
        }
    }
}
</script>