<template>
    <textarea :id="'#wysiwyg'+_uid"></textarea>
</template>

<script>
    export default {
        props: ['options', 'value'],
        mounted: function () {
            var vm = this;
            if (this.value) {
                $(this.$el)
                .val(this.value)
            }
            $(this.$el).tinymce({
                selector: "#wysiwyg"+this._uid,
                theme: "modern",
                height: 300,
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor "
                ],
                toolbar: "insertfile undo redo | fontsizeselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons ",
                fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
                moxiemanager_image_settings: {
                    view: 'thumbs',
                    extensions: 'jpg,png,gif'
                },
                file_browser_callback: function (field_name, url, type, win) {
                    // trigger file upload form
                    if (type == 'image') $('#formUpload input').click();
                },
                branding: false,
                setup:function(ed) {
                    ed.on('blur', function(e) {
                        vm.$emit('input', ed.getContent());
                    });
                }
            });
        },
        watch: {
            value: function (value) {
                $(this.$el).val(value).trigger('change');
            }
        },
        destroyed: function () {
            $(this.$el).tinymce().execCommand('mceRemoveControl', true, '#wysiwyg'+this._uid);
        }
    }
</script>