<template>
    <ul class="pagination pagination-split justify-content-center m-t-40" v-show="paginate.total">
        <li class="disabled page-item" v-show="paginate.current_page===1">
            <a class="page-link" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item" v-show="paginate.current_page!==1">
            <a class="page-link" style="cursor:pointer" v-on:click="fetchData(paginate.current_page-1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item" v-for="num in viewPaging()" :class="{active : paginate.current_page==num}">
            <a class="page-link" v-if="paginate.current_page==num">{{num}}</a>
            <a class="page-link" v-else style="cursor:pointer" v-on:click="fetchData(num)">{{num}}</a>
        </li>
        <li class="disabled page-item" v-if="paginate.current_page===paginate.last_page">
            <a class="page-link">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
        <li class="page-item" v-else>
            <a class="page-link" style="cursor:pointer" @click="fetchData(paginate.current_page+1)">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</template>
<script>
export default {
    props: ["paginate", "callBack"],
    data() {
        return {
            pagination: {}
        };
    },
    mounted() {},
    updated() {},
    methods: {
        viewPaging: function() {
            if (this.paginate.last_page <= 0) return [];
            let from = this.paginate.current_page;
            let to = this.paginate.current_page;
            from = from - 5;
            to = to + 5;
            if (from <= 1) {
                from = 1;
                to = from + 10;
            }
            if (to >= this.paginate.last_page) {
                to = this.paginate.last_page;
                from = to - 10;
            }
            if (this.paginate.last_page <= 10) {
                to = this.paginate.last_page;
                from = 1;
            }
            let arr = [];
            while (from <= to) {
                arr.push(from);
                from++;
            }
            return arr;
        },
        fetchData: function(n) {
            if (typeof this.callBack === "function") {
                this.callBack(n);
            } else {
                console.log('[Vias] To use custom pagi please define :callBack="callBack" to catch pagination value!');
                this.$parent.fetchData(n);
            };
        }
    }
};
</script>